{% extends 'main.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container" id="promises-page">
    <h1>Nos <span>promesses</span> de campagnes</h1>
    <div class="col">
        <li>Le <span>pôle club</span> vous propose de remettre en fonctionnement les clubs qui ont été abandonnés au fil des années tel que le tea time ou le journal de l'ENSSAT. 
            Nous essaierons aussi de redynamiser les clubs et de les encourager à faire des évènements tout au long de l'année. 
            Nous serons également ouverts à toutes nouvelles propositions de clubs et nous ferons tout notre possible pour permettre leurs créations.</li> <br>

        <li>Vos <span>deux respos KFET</span> souhaitent pouvoir mettre en place un partenariat avec un cafetier afin de vous proposer un meilleur café lors de vos pauses.
            Nous souhaitons aussi vous permettre de manger à la kfet pendant les pauses de midi en mettant en place un menu avec un sandwich de la mie câline une boisson et un encas pour un prix attractif.
            Enfin nous voulons remettre en état le système son de la kfet pour pouvoir écouter de la musique plus facilement et bien entendu enfin changer ce satané tapis de billard qui fait vraiment pitié</li> <br>

        <li>Le <span>pôle event</span> vous promet d'organiser plein d'événements. Plus sérieusement, notre imagination est sans limite et nous voulons vous faire rêver :
            une soirée Kfet par mois, une semaine au ski en février, un Wei des plus sensationel...
            Nous tenons par dessus tout à n'oublier aucun type de personnalité, afin que chacun puisse apprécier son année comme il se doit.
            D'ailleurs, n'hésitez en aucun cas à nous faire part de vos idées, même les plus folles (réalisables dans la limite des stocks disponibles) ! Mais rien ne sert de parler, il faut partir à point.
            Nos belles promesse n'ont de sens que si nous avons la capacité de les réaliser, ce que nous vous prouverons tout au long de ce mois de campagne.</li>
        <li>TODO</li>
        <li>TODO</li>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}