{% extends 'main.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container" id="partners-page">
    <h1>Nos <span>partenaires</span></h1>
    <br>
    <h2>La fromagerie du centre</h2>
    <h3>La Fromagerie du Centre, 6 Rue des Chapeliers, 22300 Lannion</h3>
    <p><span>5%</span> de réduction</p>
    <br>
    <h2>BCD Shop</h2>
    <h3>Green Care Lannion - Magasin CBD, 2 Rue Saint-Malo, 22300 Lannion</h3>
    <p><span>10%</span> de réduction sous présentation de la <span>carte</span> (à venir récupérer auprès de l'un de nous)</p>
    <br>
    <h2>Kultur Vegan</h2>
    <h3>Kultur Végane, 5 Rue Saint-Gilles, 22000 Saint-Brieuc</h3>
    <p><span>10%</span> de réduction sur le site lors de <span>commande groupée</span> (nous contacter si vous êtes interessé)</p>
    <br>
    <h2>Mireille fleurs</h2>
    <h3>Mireille fleurs, 14 Rue Emile le Taillandier, 22300 Lannion</h3>
    <p><span>10%</span> de réduction</p>
    <br>
</div>

{% include 'footer.html' %}
{% endblock %}