{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container" id="partners-page">

    <h1>Nos <span>partenaires</span></h1>
    <h4>Sous présentation de votre carte étudiante</h4>
    <div class="container" id="partners-page-block">
        <h2>La fromagerie du centre</h2>
        <h3>La Fromagerie du Centre, 6 Rue des Chapeliers, 22300 Lannion <a target="_blank" href="https://www.google.com/maps/dir//La+Fromagerie+du+Centre/data=!4m8!4m7!1m0!1m5!1m1!1s0x48122be93c76e7b9:0x76526896e11c2b21!2m2!1d-3.457886!2d48.7320029" style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px;"><img height="20px" width="20px" src="{% static 'img/maps_logo.png' %}"></a></h3>
        <p><span>5%</span> de réduction</p>

    </div> <br>

    <div class="container" id="partners-page-block">
        <h2>Green Care</h2>
        <h3>Green Care Lannion - Magasin CBD, 2 Rue Saint-Malo, 22300 Lannion <a target="_blank" href="https://www.google.com/maps/dir//Green+Care+lannion/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x48122b798d1dc0b1:0x7cd722aa7dbe6fb?sa=X&ved=2ahUKEwiCh-vetdL2AhVMOhoKHXsnB54Q9Rd6BAg8EAU" style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px;"><img height="20px" width="20px" src="{% static 'img/maps_logo.png' %}"></a></h3>
        <p><span>10%</span> de réduction sous présentation de la <span>carte</span> (à venir récupérer auprès de l'un de nous)</p>
    </div> <br>

    <div class="container" id="partners-page-block">
        <h2>Kultur Vegan</h2>
        <h3>Kultur Végane, 5 Rue Saint-Gilles, 22000 Saint-Brieuc <a target="_blank" href="https://www.google.com/maps/dir//Kultur+Vegan/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x480e1d9efe7d19b3:0xdc9e6e55ff150b49?sa=X&ved=2ahUKEwjU5PLstdL2AhWLx4UKHVFvCpcQ9Rd6BAgxEAU" style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px;"><img height="20px" width="20px" src="{% static 'img/maps_logo.png' %}"></a></h3>
        <p><span>10%</span> de réduction</p>
    </div> <br>
    <br><br>
</div>

{% include 'footer.html' %}
{% endblock %}