{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container" id="thanks-page">
    <div id="my-next-allo">
        <h1><span>Remerciements</span></h1>
    </div>

    <img src="{% static 'img/thanksimg.png' %}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
  
    <div>
        <p style="margin-bottom: 0">La liste Mafienssat souhaite remercier : L'AEE qui nous a bien aiguillé durant la préparation des campagnes, Léo & Gurwan pour la réalisation du site, nos familles respectives pour le soutien moral et Bernard Arnault pour le don de 1500 €.</p> <br>
        <p>Nous remercions de plus tous ceux qui nous ont aidé, par une idée, un concept ou une inspiration, qui n'apparaîtraient pas dans cette liste.</p>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}