{% extends 'main.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container">
    <h1><span>Remerciements</span></h1>
    <div class="">
        <p>La liste Mafienssat souhaite remercier : L'AEE qui nous a bien aiguillé durant la préparation des campagnes, Léo & Gurwan pour la réalisation du site, nos familles respectives pour le soutien moral et Bernard Arnault pour le don de 1500 €.</p> <br>
        <p>Nous remercions de plus tous ceux qui nous ont aidé, par une idée, un concept ou une inspiration, qui n'apparaîtraient pas dans cette liste.</p>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}