{% extends 'main.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container">
    <div id="main_title">
        <h1>Register <span>goals</span></h1>
        <div class="row">
            <div class="col">
                <div class="loadbar">
                    <strong class="bar" style='height:30%;'></strong>
                </div>
            </div>
            <div class="col">
                <li>Cleanwalk de Lannion et/ou d'une plage</li>
                <li>Baignade dans le leguer 2/3 membres choisis au hasard</li>
                <li>Record de vitesse de descente de bières par au moins 5 membres /par les plus motivés (si notre meilleur joueur est battu par qqn don de klaxcoin)</li>
                <li>Trends Tiktok par des gens sélectionnés au hasard/ par la communauté</li>
                <li>Recette pompette </li>
                <li>Teinture 2/3 membres choisis par la communauté</li>
                <li>Live 24h</li>
                <li>Calendrier dieux du stade</li>
            </div>
        </div>
       
       
    </div>
    <div>
        
    </div>
</div>
{% endblock %}