{% extends 'main.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container">
    <div id="main_title">
        <h1 style id="h1_goals">Nos   <span>défis</span></h1>
        <div id="goals_list">
            <div class="this_goal">
                {% if registered < 20 %}
                    <p class="compteur_goals">{{registered}}/<span>20</span></p>
                    <p class="title_goals">Cleanwalk de Lannion et/ou d'une plage</p>
                {% elif registered >= 20 and registered < 45 %}
                    <p class="compteur_goals">{{registered}}/<span>45</span></p>
                    <p class="title_goals">Baignade dans le leguer 2/3 membres choisis au hasard</p>
                {% elif registered >= 45 and registered < 60 %}
                    <p class="compteur_goals">{{registered}}/<span>60</span></p>
                    <p class="title_goals">Record de vitesse de descente de bières par au moins 5 membres /par les plus motivés (si notre meilleur joueur est battu par qqn don de klaxcoin)</p>
                {% elif registered >= 60 and registered < 75 %}
                    <p class="compteur_goals">{{registered}}/<span>75</span></p>
                    <p class="title_goals">Trends Tiktok par des gens sélectionnés au hasard/par la communauté</p>
                {% elif registered >= 75 and registered < 100 %}
                    <p class="compteur_goals">{{registered}}/<span>100</span></p>
                    <p class="title_goals">Recette pompette</p>
                {% elif registered >= 100 and registered < 120 %}
                    <p class="compteur_goals">{{registered}}/<span>120</span></p>
                    <p class="title_goals">Teinture 2/3 membres choisis par la communauté</p>
                {% elif registered >= 120 and registered < 150 %}
                    <p class="compteur_goals">{{registered}}/<span>150</span></p>
                    <p class="title_goals">Live 24h</p>
                {% elif registered >= 150 and registered < 200 %}
                    <p class="compteur_goals">{{registered}}/<span>200</span></p>
                    <p class="title_goals">Calendrier dieux du stade</p>          
                {% else %}
                    <p class="compteur_goals green">{{registered}}/<span class="green">200</span></p>
                    <p class="title_goals">Bravo vous avez atteint le dernier palier ! Votez Mafienssat</p>             
                {% endif %}
            </div>
            <div class="next_goal">
                {% if registered < 20 %}
                    <p class="compteur_next_goals">{{registered}}/<span>20</span></p>
                    <p class="title_next_goals">Cleanwalk de Lannion et/ou d'une plage</p>
                    <p class="compteur_next_goals">{{registered}}/<span>45</span></p>
                    <p class="title_next_goals">Baignade dans le Leguer 2/3 membres choisis au hasard</p>
                    <p class="compteur_next_goals">{{registered}}/<span>60</span></p>
                    <p class="title_next_goals">Record de vitesse de descente de bières par au moins 5 membres /par les plus motivés (si notre meilleur joueur est battu par qqn don de klaxcoin)</p>
                    <p class="compteur_next_goals">{{registered}}/<span>75</span></p>
                    <p class="title_next_goals">Trends Tiktok par des gens sélectionnés au hasard/par la communauté</p>
                    <p class="compteur_next_goals">{{registered}}/<span>100</span></p>
                    <p class="title_next_goals">Recette pompette</p>
                    <p class="compteur_next_goals">{{registered}}/<span>120</span></p>
                    <p class="title_next_goals">Teinture 2/3 membres choisis par la communauté</p>
                    <p class="compteur_next_goals">{{registered}}/<span>150</span></p>
                    <p class="title_next_goals">Live 24h</p>
                    <p class="compteur_next_goals">{{registered}}/<span>200</span></p>
                    <p class="title_next_goals">Calendrier dieux du stade</p>
                {% elif registered >= 20 and registered < 45 %}
                    <p class="title_next_goals green">Cleanwalk de Lannion et/ou d'une plage</p>
                    <p class="compteur_next_goals">{{registered}}/<span>45</span></p>
                    <p class="title_next_goals">Baignade dans le Leguer 2/3 membres choisis au hasard</p>
                    <p class="compteur_next_goals">{{registered}}/<span>60</span></p>
                    <p class="title_next_goals">Record de vitesse de descente de bières par au moins 5 membres /par les plus motivés (si notre meilleur joueur est battu par qqn don de klaxcoin)</p>
                    <p class="compteur_next_goals">{{registered}}/<span>75</span></p>
                    <p class="title_next_goals">Trends Tiktok par des gens sélectionnés au hasard/par la communauté</p>
                    <p class="compteur_next_goals">{{registered}}/<span>100</span></p>
                    <p class="title_next_goals">Recette pompette</p>
                    <p class="compteur_next_goals">{{registered}}/<span>120</span></p>
                    <p class="title_next_goals">Teinture 2/3 membres choisis par la communauté</p>
                    <p class="compteur_next_goals">{{registered}}/<span>150</span></p>
                    <p class="title_next_goals">Live 24h</p>
                    <p class="compteur_next_goals">{{registered}}/<span>200</span></p>
                    <p class="title_next_goals">Calendrier dieux du stade</p> 
                {% elif registered >= 45 and registered < 60 %}
                    <p class="title_next_goals green">Cleanwalk de Lannion et/ou d'une plage</p>
                    <p class="title_next_goals green">Baignade dans le Leguer 2/3 membres choisis au hasard</p>
                    <p class="compteur_next_goals">{{registered}}/<span>60</span></p>
                    <p class="title_next_goals">Record de vitesse de descente de bières par au moins 5 membres /par les plus motivés (si notre meilleur joueur est battu par qqn don de klaxcoin)</p>
                    <p class="compteur_next_goals">{{registered}}/<span>75</span></p>
                    <p class="title_next_goals">Trends Tiktok par des gens sélectionnés au hasard/par la communauté</p>
                    <p class="compteur_next_goals">{{registered}}/<span>100</span></p>
                    <p class="title_next_goals">Recette pompette</p>
                    <p class="compteur_next_goals">{{registered}}/<span>120</span></p>
                    <p class="title_next_goals">Teinture 2/3 membres choisis par la communauté</p>
                    <p class="compteur_next_goals">{{registered}}/<span>150</span></p>
                    <p class="title_next_goals">Live 24h</p>
                    <p class="compteur_next_goals">{{registered}}/<span>200</span></p>
                    <p class="title_next_goals">Calendrier dieux du stade</p> 
                {% elif registered >= 60 and registered < 75 %}
                    <p class="title_next_goals green">Cleanwalk de Lannion et/ou d'une plage</p>
                    <p class="title_next_goals green">Baignade dans le Leguer 2/3 membres choisis au hasard</p>
                    <p class="title_next_goals green">Record de vitesse de descente de bières par au moins 5 membres /par les plus motivés (si notre meilleur joueur est battu par qqn don de klaxcoin)</p>
                    <p class="compteur_next_goals">{{registered}}/<span>75</span></p>
                    <p class="title_next_goals">Trends Tiktok par des gens sélectionnés au hasard/par la communauté</p>
                    <p class="compteur_next_goals">{{registered}}/<span>100</span></p>
                    <p class="title_next_goals">Recette pompette</p>
                    <p class="compteur_next_goals">{{registered}}/<span>120</span></p>
                    <p class="title_next_goals">Teinture 2/3 membres choisis par la communauté</p>
                    <p class="compteur_next_goals">{{registered}}/<span>150</span></p>
                    <p class="title_next_goals">Live 24h</p>
                    <p class="compteur_next_goals">{{registered}}/<span>200</span></p>
                    <p class="title_next_goals">Calendrier dieux du stade</p> 
                {% elif registered >= 75 and registered < 100 %}
                    <p class="title_next_goals green">Cleanwalk de Lannion et/ou d'une plage</p>
                    <p class="title_next_goals green">Baignade dans le Leguer 2/3 membres choisis au hasard</p>
                    <p class="title_next_goals green">Record de vitesse de descente de bières par au moins 5 membres /par les plus motivés (si notre meilleur joueur est battu par qqn don de klaxcoin)</p>
                    <p class="title_next_goals green">Trends Tiktok par des gens sélectionnés au hasard/par la communauté</p>
                    <p class="compteur_next_goals">{{registered}}/<span>100</span></p>
                    <p class="title_next_goals">Recette pompette</p>
                    <p class="compteur_next_goals">{{registered}}/<span>120</span></p>
                    <p class="title_next_goals">Teinture 2/3 membres choisis par la communauté</p>
                    <p class="compteur_next_goals">{{registered}}/<span>150</span></p>
                    <p class="title_next_goals">Live 24h</p>
                    <p class="compteur_next_goals">{{registered}}/<span>200</span></p>
                    <p class="title_next_goals">Calendrier dieux du stade</p> 
                {% elif registered >= 100 and registered < 120 %}
                    <p class="title_next_goals green">Cleanwalk de Lannion et/ou d'une plage</p>
                    <p class="title_next_goals green">Baignade dans le Leguer 2/3 membres choisis au hasard</p>
                    <p class="title_next_goals green">Record de vitesse de descente de bières par au moins 5 membres /par les plus motivés (si notre meilleur joueur est battu par qqn don de klaxcoin)</p>
                    <p class="title_next_goals green">Trends Tiktok par des gens sélectionnés au hasard/par la communauté</p>
                    <p class="title_next_goals green">Recette pompette</p>
                    <p class="compteur_next_goals">{{registered}}/<span>120</span></p>
                    <p class="title_next_goals">Teinture 2/3 membres choisis par la communauté</p>
                    <p class="compteur_next_goals">{{registered}}/<span>150</span></p>
                    <p class="title_next_goals">Live 24h</p>
                    <p class="compteur_next_goals">{{registered}}/<span>200</span></p>
                    <p class="title_next_goals">Calendrier dieux du stade</p> 
                {% elif registered >= 120 and registered < 150 %}
                    <p class="title_next_goals green">Cleanwalk de Lannion et/ou d'une plage</p>
                    <p class="title_next_goals green">Baignade dans le Leguer 2/3 membres choisis au hasard</p>
                    <p class="title_next_goals green">Record de vitesse de descente de bières par au moins 5 membres /par les plus motivés (si notre meilleur joueur est battu par qqn don de klaxcoin)</p>
                    <p class="title_next_goals green">Trends Tiktok par des gens sélectionnés au hasard/par la communauté</p>
                    <p class="title_next_goals green">Recette pompette</p>
                    <p class="title_next_goals green">Teinture 2/3 membres choisis par la communauté</p>
                    <p class="compteur_next_goals">{{registered}}/<span>150</span></p>
                    <p class="title_next_goals">Live 24h</p>
                    <p class="compteur_next_goals">{{registered}}/<span>200</span></p>
                    <p class="title_next_goals">Calendrier dieux du stade</p> 
                {% elif registered >= 150 and registered < 200 %}
                    <p class="title_next_goals green">Cleanwalk de Lannion et/ou d'une plage</p>
                    <p class="title_next_goals green">Baignade dans le Leguer 2/3 membres choisis au hasard</p>
                    <p class="title_next_goals green">Record de vitesse de descente de bières par au moins 5 membres /par les plus motivés (si notre meilleur joueur est battu par qqn don de klaxcoin)</p>
                    <p class="title_next_goals green">Trends Tiktok par des gens sélectionnés au hasard/par la communauté</p>
                    <p class="title_next_goals green">Recette pompette</p>
                    <p class="title_next_goals green">Teinture 2/3 membres choisis par la communauté</p>
                    <p class="title_next_goals green">Live 24h</p>
                    <p class="compteur_next_goals">{{registered}}/<span>200</span></p>
                    <p class="title_next_goals">Calendrier dieux du stade</p>    
                {% else %}
                    <p class="title_next_goals green">Cleanwalk de Lannion et/ou d'une plage</p>
                    <p class="title_next_goals green">Baignade dans le Leguer 2/3 membres choisis au hasard</p>
                    <p class="title_next_goals green">Record de vitesse de descente de bières par au moins 5 membres /par les plus motivés (si notre meilleur joueur est battu par qqn don de klaxcoin)</p>
                    <p class="title_next_goals green">Trends Tiktok par des gens sélectionnés au hasard/par la communauté</p>
                    <p class="title_next_goals green">Recette pompette</p>
                    <p class="title_next_goals green">Teinture 2/3 membres choisis par la communauté</p>
                    <p class="title_next_goals green">Live 24h</p>
                    <p class="title_next_goals green">Calendrier dieux du stade</p>
                {% endif %}
                  
            </div>
        </div>
    </div>
</div>
{% endblock %}