{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="row" id="klaxment_id">
    <div id="main_title" class="col-9">
        <h1>Klaxment officiel</h1>
        <div id="klaxment_list">
            {% for user in userList %}
                {% if forloop.counter == 1 %}
                    <h2><span>Première place </span> {{user.firstname}} {{user.lastname}} - {{user.klax_coins}} <img class="img-fluid" height="75" width="75" src="{% static 'klax_or.png' %}" alt=""/></h2>
                {% elif forloop.counter == 2 %}
                    <h3><span>Deuxième place </span>  {{user.firstname}} {{user.lastname}} - {{user.klax_coins}} <img class="img-fluid" height="75" width="75" src="{% static 'klax_argent.png' %}" alt=""/></h3>
                {% elif forloop.counter == 3 %}
                    <h4><span>Troisième place :</span> {{user.firstname}} {{user.lastname}} - {{user.klax_coins}} <img class="img-fluid" height="75" width="75" src="{% static 'klax_bronze.png' %}" alt=""/></h4>
                {% elif forloop.counter <= 10 %}
                    <h5><span>{{forloop.counter}}ème place :</span> {{user.firstname}} {{user.lastname}} - {{user.klax_coins}}</h5>    
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="pub_id_klaxment" class="col-3">
        <img id="gif_gros_klax_id" width="200px" height="750px" src="{% static 'img/pub_gros_klax.gif' %}">
        <img id="gif_big_klax_id" style="display:none" width="200px" height="750px" src="{% static 'img/pub_big_klax.gif' %}">
        <img id="gif_chaud_klaxeurs_id" style="display:none" width="200px" height="750px" src="{% static 'img/pub_chaud_klaxeurs.gif' %}">
    </div>
</div>
<script>
    setInterval(function () {
        let e1 = document.getElementById("gif_gros_klax_id").style.display; 
        let e2 = document.getElementById("gif_big_klax_id").style.display; 
        let e3 = document.getElementById("gif_chaud_klaxeurs_id").style.display; 
        if(e1 == "block"){
            document.getElementById("gif_big_klax_id").style.display = "block";
            document.getElementById("gif_gros_klax_id").style.display = "none";
        } else if(e2 == "block"){
            document.getElementById("gif_chaud_klaxeurs_id").style.display = "block";
            document.getElementById("gif_big_klax_id").style.display = "none";
        } else {
            document.getElementById("gif_gros_klax_id").style.display = "block";
            document.getElementById("gif_chaud_klaxeurs_id").style.display = "none";
        }
    }, 13000);
</script>
{% endblock %}