{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container">
    <div id="liste_off">
        <h1>Les mafieux <span>officiels</span></h1>
        <h2>Le bureau <span>corrompu</span></h2>
        <h3>Les <span>prez</span></h3>
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/arno.png' %}">
                <p>Arno</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/emeric.png' %}">
                <p>Emeric</p>
            </div>
        </div>
        <h3>Les <span>trézoriers</span></h3>
        <div class="row">   
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/elisa.png' %}">
                <p>Elisa</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/emilien.png' %}">
                <p>Emilien</p>
            </div>
        </div> 
        <h3>La <span>secrétaire</span></h3>
        <div class="row">  
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/alix.png' %}">
                <p>Alix</p>
            </div>
        </div>
        <h2>Le pôle <span>event</span></h2>
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/ariane.png' %}">
                <p>Ariane</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/garvan.png' %}">
                <p>Garvan</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/loic.png' %}">
                <p>Loïc</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/guillaume.png' %}">
                <p>Guillaume</p>
            </div>
        </div>
        <h2>Le pôle <span>communication</span> et respo club</h2>
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/adele.png' %}">
                <p>Adèle</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/laure.png' %}">
                <p>Laure</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/laura.png' %}">
                <p>Laura</p>
            </div>
        </div>
        <h2>Le bureau <span>des arts</span></h2>
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/lou.png' %}">
                <p>Lou</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/mathias.png' %}">
                <p>Mathias</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/emmanuel.png' %}">
                <p>Emmanuel</p>
            </div>
        </div>
        <h2>Le bureau <span>des sports</span></h2>
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" onclick="playClown()" width="350px" height="466px" src="{% static 'img/liste/malo.png' %}">
                <p>Malo</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/gurwan.png' %}">
                <p>Gurwan</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/raphael.png' %}">
                <p>Raphaël</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/simian.png' %}">
                <p>Simian</p>
            </div>
        </div>
        <h2>Les deux respos <span>KFET</span></h2>
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/leo.png' %}">
                <p>Léo</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="466px" src="{% static 'img/liste/leok.png' %}">
                <p>Léo</p>
            </div>
        </div>
    </div>
    <div>
        
    </div>

</div>

<script>
    function playClown(){
        let allAudios = document.querySelectorAll('audio');
        allAudios.forEach(function(audio){
            audio.pause();
        });
        new Audio("https://soundboardguy.com/wp-content/uploads/2021/05/circus-clown-music.mp3").play();
    }
</script>
{% endblock %}