{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container">
    <div id="liste_off">
        <h1>Les mafieux <span>officiels</span></h1>
        <h2>Le bureau <span>corrompu</span></h2>
        <h3>Sous-catégories à faire </h3>
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/arno.jpg' %}">
                <p>Arno</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/emeric.jpg' %}">
                <p>Emeric</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/elisa.jpg' %}">
                <p>Elisa</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/emilien.jpg' %}">
                <p>Emilien</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/alix.jpg' %}">
                <p>Alix</p>
            </div>
        </div>
        <h2>Le pôle <span>event</span></h2>
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/ariane.jpg' %}">
                <p>Ariane</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/garvan.jpg' %}">
                <p>Garvan</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/loic.jpg' %}">
                <p>Loïc</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/guillaume.jpg' %}">
                <p>Guillaume</p>
            </div>
        </div>
        <h2>Le pôle <span>communication</span> et respo club</h2>
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/adele.jpg' %}">
                <p>Adèle</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/laure.jpg' %}">
                <p>Laure</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/laura.jpg' %}">
                <p>Laura</p>
            </div>
        </div>
        <h2>Le bureau <span>des arts</span></h2>
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/lou.jpg' %}">
                <p>Lou</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/mathias.jpg' %}">
                <p>Mathias</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/emmanuel.jpg' %}">
                <p>Emmanuel</p>
            </div>
        </div>
        <h2>Le bureau <span>des sports</span></h2>
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" onclick="playClown()" width="350px" height="235px" src="{% static 'img/liste/malo.jpg' %}">
                <p>Malo</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/gurwan.jpg' %}">
                <p>Gurwan</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/raphael.jpg' %}">
                <p>Raphaël</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/simian.jpg' %}">
                <p>Simian</p>
            </div>
        </div>
        <h2>Les deux respos <span>KFET</span></h2>
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/leo.jpg' %}">
                <p>Léo</p>
            </div>
            <div class="col">
                <img class="rounded mx-auto d-block" style="text-align: center;" width="350px" height="235px" src="{% static 'img/liste/leok.jpg' %}">
                <p>Léo</p>
            </div>
        </div>
    </div>
    <div>
        
    </div>

</div>

<footer>
    <div class="row">
        <div class="col" id="partners" onclick="goFooter(this.id)">
            <p>Partners</p>
        </div>

        <div class="col" id="credits" onclick="goFooter(this.id)">
            <p>Crédits</p>
        </div>

        <div class="col" id="values" onclick="goFooter(this.id)">
            <p>Nos Valeurs</p>
        </div>

        <div class="col" id="promises" onclick="goFooter(this.id)">
            <p>Promesses de Campagne</p>
        </div>
    </div>
</footer>

<script>
    function playClown(){
        let allAudios = document.querySelectorAll('audio');
        allAudios.forEach(function(audio){
            audio.pause();
        });
        new Audio("https://soundboardguy.com/wp-content/uploads/2021/05/circus-clown-music.mp3").play();
    }

    function goFooter(footer_name){

        window.location.href = "http://localhost:8000/" + footer_name + "/" // TODO remplacer le lien une fois le site déployer ou trouver un autre méthode
    }
</script>
{% endblock %}