{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container" id="event_presentation">
    <h1>Barbecue & Ker’mess</h1>
    <h2><span>Barbecue</span></h2>
    <h3>Menu</h3>
    <p style="text-align: center">Avant de commencer les festivités, venez dévorer de délicieux burger que vous soyez végétarien ou non. Grâce à notre formule à un prix imbattable, vous pourrez savourer non pas un mais deux burgers accompagnés de la boisson de votre choix. Des crêpes seront également disponibles sur l'événement.</p>
    <br>
    <h2><span>Ker’mess</span></h2>
    <h3>Activitées</h3>
    <p>Lors de notre joyeuse Ker’mess, vous pourrez vous amuser sur diverses activités telles que le chamboule tout, la pétanque, la pêche au canard et bien d’autres. Durant ces jeux vous pourrez gagner des tickets de nourriture, de boissons ainsi que de tombola vous permettant de gagner de magnifiques cadeaux.</p>
    <h3>Tombola</h3>
    <p>Tout au long de l’après midi, vous pourrez obtenir des tickets de tombola de différente manière pour gagner un maximum de lots à la fin de la journée.</p>
    <br>

    <br><br><br><br>
</div>
{% include 'footer.html' %}
{% endblock %}