{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container" id="event_presentation">
    <h1>Tournois de billard et baby foot</h1>
    <h2>Épreuve n°<span>10, 11</span> - Les 12 Travaux du Klax</h2>
    <h3>Baby foot</h3>
    <p>Au cours de cet événement compétitif, les participants devront former des équipes de deux afin de remporter ou pas le prix tant attendu.</p>
    <h3>Billard</h3>
    <p>Choisissez votre meilleur partenaire et venez affronter les joueurs les plus chauds de votre école.</p>
    <br>

    <br><br><br><br>
</div>
{% include 'footer.html' %}
{% endblock %}