{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container" id="event_presentation">
    <h1>Tournois de cartes</h1>
    <h2>Épreuve n°<span>6, 7, 8</span> - Les 12 Travaux du Klax</h2>
    <h3>Belote</h3>
    <p>Lors de cette épreuve, les équipes les plus aguerries tenteront de gagner un maximum de points en remportant le titre de champion de belote.</p>
    <h3>Tarot</h3>
    <p>Les règles du jeu sont disponibles sur le net.</p>
    <h3>Poker</h3>
    <p>Pour gagner il vous suffira d'être le meilleur. Le poker se déroulera en continu de 14h à 18h, en parallèle des deux autres tournois. Vous pouvez venir jouer quand bon vous semble. Point intéressant, tout gain sera converti en Klaxcoin !!</p>
    <br>

    <br><br><br><br>
</div>
{% include 'footer.html' %}
{% endblock %}