{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container" id="event_presentation">
    <h1>Chasse au trésor</h1>
    <h2>Epreuve n°<span>1/12</span> - Les 12 Travaux du Klax</h2>
    <h3>Késkecé</h3>
    <p>Comme expliqué dans le titre, il s'agit d'une chasse au trésor : des cartes à jouer sont cachées au sein de l’ENSSAT (ou pas ?). Vous avez une semaine (jusqu'au 25/03 à 18h) pour les retrouver. Chaque jour, des indices vous seront révélés dans notre story insta (ABONNEZ-VOUS!!). Ces indices seront des énigmes ou des photos prises du point de vue de la carte. Bon courage … <span>Il en reste 9</span>.</p>
    <h3>Les règles du jeu</h3>
    <p>Rien de bien compliqué:</p>
    <li>
        Lorsque vous trouvez une carte, contactez : Ariane, Garvan, Lou ou Laura.
    </li>
    <li>Envoyez à cette personne une photo de la carte et le numéro inscrit dans un coin derrière.</li>
    <li>Le système de point est le suivant : vous gagnez 60 points divisés par le niveau de difficulté de la cachette (1 étant le plus dure et 5 le plus simple). Pour information <span>As: 1</span>, <span>Roi: 2</span>, <span>Dame: 3</span>, <span>Valet: 4</span>, <span>le reste: 5</span>.</li>
    <p>PS: Il existe 2 joker pour lesquels vous n'aurez aucun indice.</p>
    <p>PPS: Si vous devinez en one shot à qui appartient la signature sur la carte, vous gagnez 30 points en plus.</p>
    <br><br><br>
</div>
{% include 'footer.html' %}
{% endblock %}