{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container" id="event_presentation">
    <h1>Wati by Chiche</h1>
    <h2>Lieu</h2>
    <h3><span>Chiche Night Club</span></h3>
    <p>Lorsque vous arriverez au Chiche Night Club, vous devrez vous confronter à nos videurs avant de profiter du bar à volonté et de la musique des meilleurs Dj venu des quatre coins de Lannion centre.</p>
    <h3>Fonctionnement de la soirée</h3>
    <p>Pour participer à cet événement incroyable, il faudra tout d’abord vous acquitter de la modique somme de 5€ (1€ pour les non-buveur) vous permettant de vous hydrater pour tout le reste de la soirée. Une fois à l’intérieur, vous pourrez profiter des activités habituelles d’une boite de nuit, c'est-à-dire boire et danser. En plus de cela vous pouvez visiter notre magnifique coin fumeur ou nos toilettes non mixtes non surveillées.</p>
    <h3>Programme de la night</h3>
    <p>Afin de vous teaser un petit peu cette soirée sensationnelle, nous vous révélons nos trois têtes d’affiche de la soirée : de 22h à 00h, retrouvez le célèbre DJ Christokiller (insta: @djchristokiller) et ses chorés endiablées, puis on enchaîne avec le so famous DJ DG (insta: dj_dgoff) pour une musique de folie, pour finir avec le légendaire DJ BoomBoum (insta: dj_boomboum) pour des basses sorties des enfers. On vous attend nombreux sur le dancefloor.</p>
    <h2>Inscription</h2>
    <p>Vous pourrez dès mercredi réserver votre place en vous rendant sur le lien dans notre story instagram.</p>

    <br><br><br><br>
</div>
{% include 'footer.html' %}
{% endblock %}