{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container" id="event_presentation">
    <h1>Soirée K’Fet</h1>
    <h2><span>Repas</span></h2>
    <h3>Plat</h3>
    <p style="text-align: center">De délicieux paninis accompagnés de frites.</p>
    <h3>Dessert</h3>
    <p style="text-align: center">Un succulent tiramisu préparé par nos présidents adorés (et d’autres membres de la liste aussi).</p>
    <h3>Boissons</h3>
    <p style="text-align: center">Vous pourrez vous hydrater comme il se doit, bière, cidre et sodas seront disponibles.</p>
    <br>
    <h2><span>Blind test</span></h2>
    <p>Rien de plus basique, affrontez vous sur vos classiques et surprenez nous grâce à votre culture musicale. Nous invitons évidemment les poissons à venir finir les paroles.</p>
    <h2>Beer pong</h2>
    <h3>Epreuve n°<span>3/12</span> - Les 12 Travaux du Klax</h3>
    <p>Un classique, petit tournois de beer pong pour bien commencer la soirée. Les inscriptions ont lieu par équipe de 3 jusqu’à 20h dans un coin de la Kfet.(PS: Voté à la majorité, il y a le droit de récupérer la balle si elle effectue un rebond).</p>
    <h2>Record de vitesse de descente de bières</h2>
    <h3>Subgoal <span>n°3</span></h3>
    <p>5 de nos membres vont effectuer un cul sec de bière le plus rapidement possible. Si vous réussissez à battre notre champion, on vous rembourse votre verre et en prime, quelques klaxcoins.</p>
    <br>

    <br><br><br><br>
</div>
{% include 'footer.html' %}
{% endblock %}