{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container" id="event_presentation">
    <h1>Master of the Grid</h1>
    <h2>Épreuve n°<span>4/12</span> - Les 12 Travaux du Klax</h2>
    <h3>Déroulement de l'épreuve</h3>
    <p>Tous les participants s'affrontent lors d'un quiz dans l'amphi. Le but est simple : être le dernier participant à avoir fait moins de trois erreurs.</p>
    <h3>Inscription</h3>
    <p>Quelques jours avant l’événement, vous pourrez vous inscrire sur le site Mafienssat. Lors de cette inscription, il vous sera fourni un numéro qui vous sera demandé le jour de l'événement.</p>
    <br>

    <br><br><br><br>
</div>
{% include 'footer.html' %}
{% endblock %}