{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container" id="event_presentation">
    <h1>Tournois des foufous</h1>
    <h2>Epreuve n°<span>2/12</span> - Les 12 Travaux du Klax</h2>
    <h3>Késkecé</h3>
    <p>Le tournoi des foufous est un parcours sportif chronométré fait sur-mesure pour que vous puissiez vous mesurer aux meilleurs sportifs de notre école. Alors, n'hésitez pas, venez vibrez et faites attention le chemin sera parsemé d'embûches…</p>
    <br><br><br>
</div>
{% include 'footer.html' %}
{% endblock %}