{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
<div class="container">
  <h1 style="text-align: center; margin-top:20px">Ajout d'un nouveau allo</h1>
    <form class="form" action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
      <button class="btn btn--main btn btn-primary" type="submit">
        Ajouter le allo
      </button>
      {% endbuttons %}
    </form>
</div>

<h1 style="text-align: center; margin-top:20px">Allos proposés</h1>
<div class="container">
    {% for allo in allos %}
        <small>{{ allo.name }} au prix de {{ allo.cost }} klaxcoins</small>
        <br>
    {% endfor %}
</div>
{% endblock %}