{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
{% if allo %}
    <h1 style="text-align: center; margin-top:20px">Faire la demande pour {{ allo.name }}</h1>
    <div class="container">

        <label for="date">Date souhaitée:</label><input type="date" id="date">
        <br>
        <button style="background-color:red; color:white" class="btn btn--main" type="submit" id="{{ allo.id }}" onclick="sendAllo(this.id)" value="sendAllo" name="sendAllo">
            <p>Envoyer la demande</p> <br>
            <p>{{ allo.cost }} klaxcoins</p>
        </button>
    </div>
{% else %}
    <h1 style="text-align: center; margin-top:20px">Erreur lors du chargement réessaye</h1>
{% endif %}
<script>
    function sendAllo(id){
        let date = document.getElementById("date").value;
        const formData = new FormData();
        formData.append('csrfmiddlewaretoken', "{{ csrf_token }}");
        formData.append('date', date);
        formData.append('allo', id);
        console.log("cocuo");
        fetch('{% url "sendAllo" %}', {
                    method: 'POST',
                    body: formData
                })
    }
</script>
{% endblock %}