{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <div>
    <img src="{% static "betklax_logo.png" %}" alt="Logo">
  </div>

  <div class="container">
      {% if user %}
            <div>
                <small>{{ user.username }}: {{ user.klax_coins }} klaxCoins</small>
            </div>
        {% else %}
            <div>
                <small>\: 0 klaxCoins</small>
            </div>
        {% endif %}
  </div>
  <h1 style="text-align: center; margin-top:20px"><br> Tous les paris</h1>
    <div class="container">

        {%  for bet in bets %}
            <div>
                <small>{{ bet.bet_name }} : <br></small>
                <small> Fini le {{ bet.ended.date.day }} {{ bet.ended.date.month }} {{ bet.ended.date.year }} à {{ bet.ended.hour }}:{{ bet.ended.minute }} <br></small>
                {% if request.user.is_authenticated %}
                    <button class="btn btn--main" type="submit" id="w-{{ bet.id }}" onclick="makeBet(this.id)" value="makeBetW" name="makeBetW">Win: {{ bet.win_rate }}</button>
                    <br>
                    <button class="btn btn--main" type="submit" id="l-{{ bet.id }}" onclick="makeBet(this.id)" value="makeBetL" name="makeBetL">Lose: {{ bet.lose_rate }}</button>
                    <br>
                    <label for="mise"></label><input type="number" id="mise">
                {% else %}
                    <small> <br>Victoire: {{ bet.win_rate }} <br></small>
                    <small> Défaite: {{ bet.lose_rate }} <br></small>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <script>
        const monthNames = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin",
            "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"
        ];

        displayMonth = function(month_nb){
            document.write(monthNames[month_nb.getMonth() - 1]);
        }
        function makeBet(id){
            let gains = document.getElementById("mise").value;
            const formData = new FormData();
            formData.append('csrfmiddlewaretoken', "{{ csrf_token }}");
            formData.append('gains', gains);
            formData.append('bet',id.split("-")[1]);
            if(gains > 0){
                if(id.split("-")[0] === "w"){
                    fetch('{% url "makeBetW" %}', {
                        method: 'POST',
                        body: formData
                    })
                } else {
                    fetch('{% url "makeBetL" %}', {
                        method: 'POST',
                        body: formData
                    })
                }
            }
        }
    </script>
</div>
{% endblock %}