{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container">
    <div id="next-event">
        <h1>Prochains <span>événements</span></h1>
    </div>
    {% for event in events %}
        <div id="next-event">
            <img class="img-fluid" src="{% static 'img/background.jpg' %}"/>
            <h2 id="name">{{event.event_name}}</h2>
            <h3 id="date">Le {{event.event_date | date:"d"}} {{event.event_date | date:"F"}} {{event.event_date | date:"o"}} à {{event.event_date | date:"H"}}h{{event.event_date | date:"i"}}</h3>
            <div>
                <h4>{{event.event_type.title}}</h4> <br> <!-- TODO faire en sorte de pouvoir afficher le nom de l'event et pas l'acronyme -->
                {% if event.max_attendees != 0 %}
                    <h4>{{event.attendees_number}} inscrits sur {{event.max_attendees}} places disponibles</h4>
                {% endif %}
            </div>
        
            <p>{{event.event_description}}</p>
            
        </div>
        <div class="container-fluid" id="choices">
            <div id="main_col_event">
                <div class="row">
                    {% if user %}
                        {% if event.attendees_number < event.max_attendees and event.max_attendees != 0 %} <!-- TODO faire en sorte qu'une fois que l'utilisateur à cliqué une fois il ne puisse qu'annuler sa participation -->
                            <div class="col" id="event-{{ event.id }}" onclick="goEvent(this.id)" style="background-color: #522699">
                                <h2>Participer à l'événement</h2>
                            </div>
                        {% endif %}
                        {% if event.associated_bet %}
                            <div class="col" id="bet" onclick="goBet()" style=" background-color: #a7662a">
                                <h2>Parier sur l'événement</h2>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

{% if user %}
    {% if registered %}
        <h1><span>Événements</span> déjà enregistrés</h1>
        {% for event in registered %}
            <div id="next-event">
                <img class="img-fluid" src="{% static 'img/background.jpg' %}"/>
                <h2 id="name">{{event.event_name}}</h2>
                <h3 id="date">Le {{event.event_date | date:"d"}} {{event.event_date | date:"F"}} {{event.event_date | date:"o"}} à {{event.event_date | date:"H"}}h{{event.event_date | date:"i"}}</h3>
                <div>
                    <h4>{{event.event_type.title}}</h4> <br> <!-- TODO faire en sorte de pouvoir afficher le nom de l'event et pas l'acronyme -->
                    {% if event.max_attendees != 0 %}
                        <h4>{{event.attendees_number}} inscrits sur {{event.max_attendees}} places disponibles</h4>
                    {% endif %}
                </div>

                <p>{{event.event_description}}</p>
            </div>
            <div class="container-fluid" id="choices">
                <div id="main_col_event">
                    <div class="row">
                        <div class="col" id="event-{{ event.id }}" onclick="dontGoEvent(this.id)" style="background-color: #522699">
                            <h2>Ne plus participer à l'événement</h2>
                        </div>
                        {% if event.associated_bet %}
                            <div class="col" id="bet" onclick="goBet()" style=" background-color: #a7662a">
                                <h2>Parier sur l'événement</h2>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>Aucun <span>événements</span> enregistrés</h1>
    {% endif %}
{% endif %}
    <script>
        function goEvent(id){

            const data = new FormData();
            data.append('csrfmiddlewaretoken', "{{ csrf_token }}");
            data.append('event', id.split("-")[1]);
            fetch('{% url "eventRegistration" %}', {
                        method: 'POST',
                        body: data
                    })
        }

        function dontGoEvent(id){

            const data = new FormData();
            data.append('csrfmiddlewaretoken', "{{ csrf_token }}");
            data.append('event', id.split("-")[1]);
            fetch('{% url "eventDeregistration" %}', {
                        method: 'POST',
                        body: data
                    })
        }
    </script>
</div>
{% endblock %}