{% extends 'main.html' %}
{% load static %}
{% block content %}
<footer>
    <div class="row">
        <a class="col" id="partners" style="margin-bottom:0" href="{% url "partners" %}">
            <p style="margin-bottom:0">Partenaires</p>
        </a>

        <a class="col" id="thanks" style="margin-bottom:0" href="{% url "thanks" %}">
            <p style="margin-bottom:0">Remerciements</p>
        </a>

        <a class="col" id="values" style="margin-bottom:0" href="{% url "values" %}">
            <p style="margin-bottom:0">Nos valeurs</p>
        </a>

        <a class="col" id="promises" style="margin-bottom:0;" href="{% url "promises" %}">
            <p style="margin-bottom:0;">Promesses de campagne</p>
        </a>
    </div>
</footer>
{% endblock %}