{% extends 'main.html' %}
{% load static %}
{% block content %}
<footer> <!-- Todo Faire en sorte de ne pas voir le lien hypertext-->
    <div class="row">
        <a class="col" id="partners" href="{% url "partners" %}">
            <p>Partenaires</p>
        </a>

        <a class="col" id="credits" href="{% url "credits" %}">
            <p>Crédits</p>
        </a>

        <a class="col" id="values" href="{% url "values" %}">
            <p>Nos valeurs</p>
        </a>

        <a class="col" id="promises" href="{% url "promises" %}">
            <p>Promesses de campagne</p>
        </a>
    </div>
</footer>
{% endblock %}