{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container-fluid" id="main_page_id">
    <div class="row">
        <a class="col-12 bg-image" id="liste_id_main" href="{% url "liste" %}">
            <h1 style="color:white">Découvre la liste</h1>
        </a>
    </div>
    <div class="event_id_main">
         <div class="row">
            <div class="col-3" id="pub_id_main">
                <img id="gif_gros_klax_id" width="200px" height="750px" src="{% static 'img/pub_gros_klax.gif' %}">
                <img id="gif_big_klax_id" style="display:none" width="200px" height="750px" src="{% static 'img/pub_big_klax.gif' %}">
                <img id="gif_chaud_klaxeurs_id" style="display:none" width="200px" height="750px" src="{% static 'img/pub_chaud_klaxeurs.gif' %}">
            </div>
        </div>
    </div>
    <div class="row" style=" background-color: black;">
        <p style="margin-bottom: 100px; margin-top:100px; text-align:center; color:white">Votez Mafienssat !</p>
    </div>
</div>

<script>
    setInterval(function () {
        let e1 = document.getElementById("gif_gros_klax_id").style.display; 
        let e2 = document.getElementById("gif_big_klax_id").style.display; 
        let e3 = document.getElementById("gif_chaud_klaxeurs_id").style.display; 
        if(e1 == "block"){
            document.getElementById("gif_big_klax_id").style.display = "block";
            document.getElementById("gif_gros_klax_id").style.display = "none";
        } else if(e2 == "block"){
            document.getElementById("gif_chaud_klaxeurs_id").style.display = "block";
            document.getElementById("gif_big_klax_id").style.display = "none";
        } else {
            document.getElementById("gif_gros_klax_id").style.display = "block";
            document.getElementById("gif_chaud_klaxeurs_id").style.display = "none";
        }
    }, 13000);
</script>

{% include 'footer.html' %}
{% endblock %}