{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container-fluid" id="main_page_id">
    <div class="row">
        <a class="col-12" id="liste_id_main" href="{% url "liste" %}">
            <h1>Découvre la liste</h1>
        </a>
    </div>
    <div class="row">
        <div class="col-3" id="pub_id_main">
            <img id="gif_gros_klax_id" width="200px" height="750px" src="{% static 'img/pub_gros_klax.gif' %}">
        </div>
        <a class="col-9" id="event_id_main" href="{% url "event" %}">
            <h1>Prochain evenement</h1>
        </a>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}