{% extends 'main.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container" id="login">
    <h1>Se connecter</h1>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            
            <label>Email :</label>
            <input type="text" name="email" placeholder="Lâche ton email man"/><br>
            
            <label>Mot de passe :</label>
            <input type="password" name="password" placeholder="Entre ton mot de passe"/>

            <input style="background-color: red; color:white" type="submit" value="Se connecter" id="Se connecter">
        </form>
    </div>
</div>
{% endblock %}