{% extends 'main.html' %}
{% load static %}
{% block content %}
<nav class="nav">
  <div class="container">
      <div class="logo">
          <!-- <a href="{% url 'home' %}"><img width="200" height="300" class="img-fluid" src="{% static 'betklax_logo.png' %}"></a> -->
      </div>
      <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
              <li><a href="{% url 'home' %}">Accueil</a></li>
              {% if not request.user.is_authenticated %}
                  <li><a href="{% url 'login' %}">Se connecter</a></li>
                  <li><a href="{% url 'register' %}">S'inscrire</a></li>
                  <li><a href="{% url 'klaxment' %}">Klaxment</a></li>
                  <li><a href="{% url 'goals' %}">Goals</a></li>
                  <li><a href="{% url 'event' %}">Events</a></li>
                  <li><a href="{% url 'homeBetKlax' %}">BetKlax</a></li>
              {% else %}
                  <li><a href="{% url 'klaxment' %}">Klaxment</a></li>
                  <li><a href="{% url 'goals' %}">Goals</a></li>
                  <li><a href="{% url 'event' %}">Events</a></li>
                  <li> <!-- Todo Ajouter un menu déroulant proposant les trois possibilités -->
                    <div class="dropdown">
                        <button class="dropbtn">Allos</button>
                        <div class="dropdown-content">
                            <a href="{% url 'homeAllos' %}">Accueil allos</a>
                            <a href="{% url 'allos' %}">Allos ? Tu m'entends</a>
                            <a href="{% url 'myAllos' %}">Vos allos</a>
                        </div>
                    </div>
                  </li>
                  <li> <!-- Todo Ajouter un menu déroulant proposant les trois possibilités -->
                    <div class="dropdown">
                        <button class="dropbtn">BetKlax</button>
                        <div class="dropdown-content">
                            <a href="{% url 'homeBetKlax' %}">Accueil BetKlax</a>
                            <a href="{% url 'betKlax' %}">BetKlax</a>
                            <a href="{% url 'myBets' %}">Vos BetKlax</a>
                        </div>
                    </div>
                  </li>
                  {% if request.user.is_staff %}
                      <li><a style=" color: rgba(255,0,0,0.98);" href="{% url 'staff' %}">Staff</a></li>
                  {% endif %}
                  <li><a href="{% url 'logout' %}">Bye</a></li>
              {% endif %}
          </ul>
      </div>
      <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
      </span>
  </div>
</nav>
<script>
  $('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked menu");
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();
  });
</script>
{% endblock %}