{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
<div class="container">
  <h1 style="text-align: center; margin-top:20px">Register</h1>
    <form class="form" action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
      <button class="btn btn--main btn btn-primary" type="submit">
        Register
      </button>
      {% endbuttons %}
    </form>

    <div class="auth__action">
      <p>Already signed up yet?</p>
      <a href="{% url 'login' %}" class="btn btn--link btn btn-primary">Sign Up</a>
    </div>
</div>
{% endblock %}

