{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
<div class="container" id="login">
  <h1>S'inscrire</h1>
    <form class="form" action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
      <button class="btn btn--main btn btn-danger" style="margin-bottom: 10px" type="submit">
        S'inscrire
      </button>
      {% endbuttons %}
    </form>

    <div class="auth__action">
      <p>Tu as déjà un compte ?</p>
      <a href="{% url 'login' %}" class="btn btn--link btn btn-danger" style="margin-bottom: 10px;">Connecte toi</a>
    </div>
</div>
{% endblock %}

