{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container" id="sutomafienssat-id">
    <div>
        <h1>SUTO<span>Mafienssat</span></h1>
    </div>
    <div id="result-div">
        <p id="result"></p>
    </div>
    <div id="grid">
        <table class="table">
            <tr class="first" id="current">
                {% for i in word_of_the_day %}
                    <td id="first-{{forloop.counter}}"></td>
                {% endfor %}
            </tr>
            <tr class="second" id="next">
                {% for i in word_of_the_day %}
                    <td id="second-{{forloop.counter}}"></td>
                {% endfor %}
            </tr>
            <tr class="third" id="third">
                {% for i in word_of_the_day %}
                    <td id="third-{{forloop.counter}}"></td>
                {% endfor %}
            </tr>
            <tr class="forth" id="forth">
                {% for i in word_of_the_day %}
                    <td id="forth-{{forloop.counter}}"></td>
                {% endfor %}
            </tr>
            <tr class="fifth" id="fifth">
                {% for i in word_of_the_day %}
                    <td id="fifth-{{forloop.counter}}"></td>
                {% endfor %}
            </tr>
            <tr class="sixth" id="sixth">
                {% for i in word_of_the_day %}
                    <td id="sixth-{{forloop.counter}}"></td>
                {% endfor %}
            </tr>
        </table>
    </div>

    <div id="input-area">
        <div class="input-ligne row">
            <div class="input-lettre col-sm" onclick="chooseLetter('A')">A</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('Z')">Z</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('E')">E</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('R')">R</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('T')">T</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('Y')">Y</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('U')">U</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('I')">I</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('O')">O</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('P')">P</div>
        </div>
        <div class="input-ligne row">
            <div class="input-lettre col-sm" onclick="chooseLetter('Q')">Q</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('S')">S</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('D')">D</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('F')">F</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('G')">G</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('H')">H</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('J')">J</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('K')">K</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('L')">L</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('M')">M</div>
        </div>
        <div class="input-ligne row">
            <div class="input-lettre col-sm" onclick="chooseLetter('W')">W</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('X')">X</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('C')">C</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('V')">V</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('B')">B</div>
            <div class="input-lettre col-sm" onclick="chooseLetter('N')">N</div>
            <div class="input-lettre col-sm" onclick="effacer()">⌫</div>
            <div class="input-lettre col-sm input-lettre-entree" onclick="valider()">↲</div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#current td').html('.');
    })
    
    function chooseLetter(letter){
        let currentRow = document.getElementById("current");
        let cases = currentRow.getElementsByTagName("td");
        for(var i=0;i<cases.length;i++) {
            var c = cases[i];
            if(c.innerHTML == "."){
                c.innerHTML = letter;
                break;
            }
        }
    }

    function effacer(){
        let currentRow = document.getElementById("current");
        let cases = currentRow.getElementsByTagName("td");
        let done = true;
        for(var i=cases.length-1;i>-1;i--) {
            var c = cases[i];
            if(c.innerHTML != "."){
                c.innerHTML = ".";
                break;
            }
        }
    }

    function valider(){
        let currentRow = document.getElementById("current");
        let cases = currentRow.getElementsByTagName("td");    
        let word = "{{word_of_the_day}}";
        let all = true;
        for(var i=0;i<cases.length;i++) {
            var c = cases[i];
            if(c.innerHTML.toLowerCase() === word[i]){
                c.style.backgroundColor = "green";
            } else {
                all = false;
                c.style.backgroundColor = "red";
                for(var j=0;j<word.length;j++) {
                    if(c.innerHTML.toLowerCase() === word[j]){
                        c.style.backgroundColor = "orange";
                    }
                }
            }
        }
        if(!all){
            if(document.getElementById("current").className !== "sixth"){
                currentRow.setAttribute("id",currentRow.className+"-done");
                document.getElementById("next").setAttribute("id","current");
                if(document.getElementById("current").className === "second"){
                    document.getElementById("third").setAttribute("id","next");
                } else if(document.getElementById("current").className === "third"){
                    document.getElementById("forth").setAttribute("id","next");
                } else if(document.getElementById("current").className === "forth"){
                    document.getElementById("fifth").setAttribute("id","next");
                } else if(document.getElementById("current").className === "fifth"){
                    document.getElementById("sixth").setAttribute("id","next");
                }
                $('#current td').html('.');
            } else {
                document.getElementById("result").innerHTML = "Dommage chacal, le mot était " + word + ". Allez c'est pas grave reviens demain";
            }
        } else {
            document.getElementById("result").innerHTML = "Félicitations ! Reviens demain pour un autre SUTOMafienssat";
        }
        
    }
</script>

{% include 'footer.html' %}
{% endblock %}