{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
{% if allo and user %}

    <div id="allo_registration">
        <h1>Faire la demande pour <br> <span>{{ allo.get_allo_type_display }}</span></h1>
    </div>

    <div class="container" id="demand-allo">
        <div class="form-group">
            <label for="date">Date souhaitée:</label>
            <input type="date" class="form-control" id="date" min="{{ allo.start_date.year }}-{{ allo.start_date.month }}-{{ allo.start_date.day }}" max="{{ allo.end_date.year }}-{{ allo.end_date.month }}-{{ allo.end_date.day }}">
        </div>

        <div class="form-group">
            <label for="time">Heure souhaitée:</label>
            <input type="time" class="form-control" id="time" min="{{ allo.start_date.hour }}:{{ allo.start_date.minute }}" max="{{ allo.end_date.hour }}:{{ allo.end_date.minute }}">
        </div>

        <a class="btn btn--main" style="background-color:rgb(165, 1, 1); color:white;width: 100%; margin-top: 15px" id="btn-href-{{ allo.id }}" href="{% url "sendAllo" date="a" time="b" allo_id=allo.id %}" onclick="sendAllo(this.id)" style="background-color:rgb(165, 1, 1); color:white">
            Envoyer la demande
        </a>
    </div>
{% elif user %}
    <h1 style="text-align: center; margin-top:20px">Erreur lors du chargement réessaye</h1>
{% endif %}
<script>
    $(document).ready(function(){
        let initDate = document.getElementById("date").min;
        let splitDate = initDate.split("-");
       
        if(parseInt(splitDate[1]) < 10){
            splitDate[1] = "0" + splitDate[1];
        }

        if(splitDate[2] < 10){
            splitDate[2] = "0" + splitDate[2];
        }
       
        document.getElementById("date").min = splitDate[0] + "-" + splitDate[1] + "-" + splitDate[2];

        let initDate1 = document.getElementById("date").max;
        let splitDate1 = initDate1.split("-");
       
        if(parseInt(splitDate1[1]) < 10){
            splitDate1[1] = "0" + splitDate1[1];
        }

        if(splitDate1[2] < 10){
            splitDate1[2] = "0" + splitDate1[2];
        }
       
        document.getElementById("date").max = splitDate1[0] + "-" + splitDate1[1] + "-" + splitDate1[2];

        let initTime = document.getElementById("time").min;
        let splitTime = initTime.split(":");
        if(splitTime[0] < 10){
            splitTime[0] = "0" + splitTime[1];
        }
        if(splitTime[1] < 10){
            splitTime[1] = "0" + splitTime[1];
        }
        document.getElementById("time").min = splitTime[0] + ":" + splitTime[1];
    });

    function sendAllo(id){

        let right_id = id.split("-")[2]
        let date = document.getElementById("date").value;
        let time = document.getElementById("time").value;

        let hrefAllo = document.getElementById("btn-href-" + right_id).href
        //http://127.0.0.1:8000/home_allos/sendAllo/%5Ba,%20b,%201%5D/

        console.log(hrefAllo)
        hrefAllo = hrefAllo.replace("%5Ba", "%5B" + date)
        hrefAllo = hrefAllo.replace("%20b", "%20" + time)
        document.getElementById("btn-href-" + right_id).href = hrefAllo
    }
</script>
{% endblock %}