{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% include 'nav.html' %}
<div class="container-fluid" id="event_page_id">
    <img class="logo_loco" width="350px" height="350px" src="{% static 'img/logodeloco.png' %}">
    <div id="next-event">
        <h1>Les <span>Allo</span> à disposition</h1>
    </div>
    {% for allo in allos %}
        {% if allo.visible and not allo.closed_allo %}
            <div id="next-event-object">
                <div class="row">
                    <div class="col">
                        <div class="name_date">
                            <h2 style="border-bottom: black 2px solid">{{ allo.get_allo_type_display }}</h2>
                        </div>
                        <div>
                            {% if allo.cost > 0 %}
                                <h4 id="h4_available" style="margin-top: 10px;">Coût : {{ allo.cost }} klaxcoins</h4>
                            {% endif %}
                    
                        </div>
                    </div>
                    <div class="col button_event" style="margin-bottom: 10px;">
                        {% if user %}
                            <a class="button_make_allo btn btn_event" id="alloRegistration{{ allo.id }}" href="{% url 'alloRegistration' allo.id %}">
                                <h5>Envoyer une demande</h5>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div id="description_event">
                    <h5 style="margin-top: 5px; margin-left: 10px">Disponible du {{allo.start_date | date:"d"}} {{allo.start_date  | date:"F"}} {{allo.start_date  | date:"o"}} à {{allo.start_date | date:"H"}}h{{allo.start_date | date:"i"}} au {{allo.end_date | date:"d"}} {{allo.end_date  | date:"F"}} {{allo.end_date  | date:"o"}} à {{allo.end_date | date:"H"}}h{{allo.end_date | date:"i"}}</h5>
                    <p>{{allo.description}}</p>
                </div>

            </div>
        {% endif %}
    {% endfor %}
    <h3 id="end_allo">C'est fini pour le moment ! On revient vite pour vous proposer nos services</h3>
    <div id="vote_mafienssat_event">
        <p style="text-align:center; margin:0; color:black">Votez Mafienssat !</p>
    </div>
<script>
    $(document).ready(function(){
        const height = document.querySelector('#event_page_id').offsetHeight;
        if(height < 800){
            document.getElementById("vote_mafienssat_event").style.padding = "450px 0 0 0";
            console.log(document.getElementById("event_page_id").style.height);
        }
    });

</script>    
</div>
{% endblock %}