{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
{% if user.is_staff %}
    <div class="container">
      <h1 style="text-align: center; margin-top:20px">Ajout d'un nouveau allo</h1>
        <form class="form" action="" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}

          {% buttons %}
          <button class="btn btn--main btn btn-primary" type="submit">
            Ajouter le allo
          </button>
          {% endbuttons %}
        </form>
    </div>

    <h1 style="text-align: center; margin-top:20px">Allos proposés</h1>
    <div class="container">
        {% for allo in allos %}
            <small>{{ allo.get_allo_type_display }} au prix de {{ allo.cost }} klaxcoins</small>
            <br>
            <small>Disponible du {{allo.start_date | date:"d"}} {{allo.start_date  | date:"F"}} {{allo.start_date  | date:"o"}} à {{allo.start_date | date:"H"}}h{{allo.start_date | date:"i"}}</small>
            <small>au {{allo.end_date | date:"d"}} {{allo.end_date  | date:"F"}} {{allo.end_date  | date:"o"}} à {{allo.end_date | date:"H"}}h{{allo.end_date | date:"i"}}</small> <br>
            <br>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}