{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% include 'nav.html' %}
<div class="container">
    <div id="next-event">
        <h1>Les <span>Allo</span> à votre disposition</h1>
    </div>
    {% for allo in allos %}
        <small>{{ allo.name }}</small> <br>
        <small>{{ allo.get_allo_type_display }}</small> <br>
        <small>{{ allo.description }}</small> <br>
        <small>Disponible du {{allo.start_date | date:"d"}} {{allo.start_date  | date:"F"}} {{allo.start_date  | date:"o"}} à {{allo.start_date | date:"H"}}h{{allo.start_date | date:"i"}}</small>
        <small>au {{allo.end_date | date:"d"}} {{allo.end_date  | date:"F"}} {{allo.end_date  | date:"o"}} à {{allo.end_date | date:"H"}}h{{allo.end_date | date:"i"}}</small> <br>
        <small>Coût: {{ allo.cost }} klaxcoins </small> <br>
        <button class="button_make_allo" type="submit" id="{{ allo.id }}" onclick="requestAllo(this.id)" value="alloRegistration" name="alloRegistration">
            <p id="label">Envoyer une demande</p>
            <p id="cost">{{ allo.cost }}</p>
        </button>
        <br> <br>
    {% endfor %}
</div>
<script>
    function requestAllo(id_allo){
        const data = new FormData();
        data.append('csrfmiddlewaretoken', "{{ csrf_token }}");
        data.append('allo', id_allo);
        location.replace("http://localhost:8000/alloRegistration/"+id_allo);
    } 
</script>
{% endblock %}