{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
{% if user.is_staff %}
    <div class="container">
        <h1 style="text-align: center; margin-top:20px">Les allos à approuver</h1>

        {% for allo in allos %}
            {% for a in allo %}
                <div id="item_backoffice">
                    <p>{{ a.allo_id.get_allo_type_display }} pour {{ a.user_id.first_name }} {{ a.user_id.last_name }} le {{a.date | date:"d"}} {{a.date  | date:"F"}} {{a.date  | date:"o"}} à {{a.date | date:"H"}}h{{a.date | date:"i"}}</p>
                    {% if a.take_over %}
                        {% if not a.made %}

                            <a class="button_take_over" style="color: #e62e00" href="{% url "finalizeAllo" id_finalized_allo=a.id %}" id="finalizeAllo{{ a.id }}">
                                Mettre ce allo terminé
                            </a>
                        {% endif %}
                    {% else %}
                        <a class="button_take_over" style="color: #e62e00" href="{% url "alloEmailConfirmation" id_allo=a.id %}" id="alloEmailConfirmation{{ a.id }}">
                            Envoyer la confirmation par mail
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
            {% if a %}
                <br>
                <p>-------------------------------------------------</p>
                <br>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container">
        <h1 style="text-align: center; margin-top:20px">Les allos réalisés</h1>
        {% for allo in doneAllos %}
            {% for a in allo %}
                <div id="item_backoffice">
                    <p>{{ a.allo_id.get_allo_type_display }} pour {{ a.user_id.first_name }} {{ a.user_id.last_name }} le {{a.date | date:"d"}} {{a.date  | date:"F"}} {{a.date  | date:"o"}} à {{a.date | date:"H"}}h{{a.date | date:"i"}}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}