{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container-fluid" id="home_bet">
    <h1>Bienvenue dans l'espace <span>Allos</span>.</h1>
    <p>La liste <span>Mafienssat</span> vous propose un panel de service, les allos, durant ces 4 semaines de campagne <span>AEE 2022</span>.</p>
    <p>Profitez des <span>Allos</span> pour vous faire livrer vos courses ou faire laver votre appartement par exemple. </p>
    <p>Ce système vous est proposé <span>gratuitement</span>. Pour réserver un allo, rien de plus simple : rendez-vous sur la page "les allos à votre disposition”, choisissez un allo disponible et réservez-le. On vous enverra un mail de confirmation avec l'horaire lorsque que nous fermons le allo. <span>Attention</span>, vous n’avez le droit qu’à 1 allo de chaque type par semaine !</p>
    <div class="row">
        <a class="col" id="btn" href="{% url "allos" %}">
            <h2>Les allos à votre disposition</h2>
        </a>
        {% if user %}
            <a class="col" id="btn" href="{% url "myAllos" %}">
                <h2>Vos allos enregistrés</h2>
            </a>
        {% endif %}
    </div>
    <div id="vote_mafienssat_event" style="margin-top: 360px;">
        <p style="text-align:center; margin:0; color:black">Votez Mafienssat !</p>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}