{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container-fluid" id="home_bet">
    <h1>Bienvenue dans l'espace <span>Allo</span>.</h1>
    <p><span>Mafienssat</span> vous propose ses services à des prix imbattables lors des campagnes AEE 2022 !</p>
    <p>Profitez du service <span>Allo</span> pour vous faire livrer vos courses ou faire laver votre appartement</p>
    <p>Ce système est gratuit se basant sur la monnaie de Mafienssat : le <span>Klaxcoin</span> <img class="img-fluid" height="75" width="75" src="{% static 'klax_or.png' %}" alt=""/></p>
    <p>Réservez les allos disponible contre une petite poignée de Klaxcoin, choisissez le créneau et on arrive aussitôt !</p>
    <div class="row">
        <a class="col" id="btn" href="{% url "allos" %}">
            <h2>Les allos à votre disposition</h2>
        </a>
        {% if user %}
            <a class="col" id="btn" href="{% url "myAllos" %}">
                <h2>Vos allos enregistrés</h2>
            </a>
        {% endif %}
    </div>
    <div id="vote_mafienssat_event" style="margin-top: 360px;">
        <p style="text-align:center; margin:0; color:black">Votez Mafienssat !</p>
    </div>
</div>
{% endblock %}