{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
{% if user %}
    <div id="my_allo">
        <h1>Vos demandes de <span>Allos</span></h1>
    </div>
    {% if allos %}
        {% for allo in allos %}
            <div id="next-event-object">
                <div class="row">
                    <div class="col">
                        <div class="name_date">
                            <h2 style="border-bottom: black 2px solid">{{ allo.allo_id.get_allo_type_display }}</h2>
                        </div>
                        <div>
                            <h4 id="h4_available" style="margin-top: 10px;">Le {{allo.date | date:"d"}} {{allo.date  | date:"F"}} {{allo.date  | date:"o"}} à {{allo.date | date:"H"}}h{{allo.date | date:"i"}}</h4>
                        </div>
                    </div>
                </div>
                <div>
                    {% if allo.take_over %}
                        {% if allo.made %}
                            <p id="statep">Etat: <span>réalisé</span></p>
                        {% else %}
                            <p id="statep">Etat: <span>pris en charge, regarder vos mails Enssat</span></p>
                        {% endif %}
                    {% else %}
                        <p id="statep">Etat: <span>envoyé</span></p>
                        <a class="button_make_allo btn btn_event" id="removeAllo{{ allo.id }}" href="{% url "removeAllo" id_allo=allo.id %}">
                            <h5><span>Annuler</span> la demande</h5>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3 id="end_allo">Vous n'avez demandé aucun <span>Allo</span></h3>
    {% endif %}
{% endif %}
{% endblock %}