{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
{% if user %}

    <div class="container-fluid" id="wallet">
        <h1>Ton pocheton de <span>klaxcoins</span></h1>
          {% if user.klax_coins > 0 %}
              <div>
                  <p><span>Ton solde : </span>{{ user.klax_coins }} <img class="img-fluid" height="75" width="75" src="{% static 'klax_or.png' %}" alt=""/></p>
              </div>
          {% else %}
              <div>
                <p><span>Time to soudoyer</span> car là tu n'as aucun <img class="img-fluid" height="75" width="75" src="{% static 'klax_or.png' %}" alt=""/> à parier</p>
              </div>
          {% endif %}
    </div>
    <br>

    <div id="my-next-allo">
        <h1>Vos <span>Allo</span> à disposition</h1>
    </div>
    {% if counter %} <!-- TODO ajuster les prix -->

        {% for type in allos_types %}
            {% if type == 'A' %}
                <small>Bières à domicile: {{ counter.biere }}</small> <br>
                {% if counter.biere == 0 %}
                    <a class="button_take_over" id="btn-href-A-20" href="{% url "buyAllos" allo_type="A" allo_cost=20 %}">
                        Acheter ce allo 20 klaxcoins
                    </a> <br>
                {% endif %}

            {% elif type == 'B' %}
                <small>Goûter: {{ counter.gouter }}</small> <br>
                {% if counter.gouter == 0 %}
                    <a class="button_take_over" id="btn-href-B-20" href="{% url "buyAllos" allo_type="B" allo_cost=20 %}">
                        Acheter ce allo 20 klaxcoins
                    </a> <br>
                {% endif %}

            {% elif type == 'C' %}
                <small>P'tit dej: {{ counter.ptitdej }}</small> <br>
                {% if counter.ptitdej == 0 %}
                    <a class="button_take_over" id="btn-href-C-20" href="{% url "buyAllos" allo_type="C" allo_cost=20 %}">
                        Acheter ce allo 20 klaxcoins
                    </a> <br>
                {% endif %}

            {% elif type == 'D' %}
                <small>Ménage: {{ counter.menage }}</small> <br>
                {% if counter.menage == 0 %}
                    <a class="button_take_over" id="btn-href-D-20" href="{% url "buyAllos" allo_type="D" allo_cost=20 %}">
                        Acheter ce allo 20 klaxcoins
                    </a> <br>
                {% endif %}

            {% elif type == 'E' %}
                <small>Car wash: {{ counter.car_wash }}</small> <br>
                {% if counter.car_wash == 0 %}
                    <a class="button_take_over" id="btn-href-E-20" href="{% url "buyAllos" allo_type="E" allo_cost=20 %}">
                        Acheter ce allo 20 klaxcoins
                    </a> <br>
                {% endif %}

            {% elif type == 'F' %}
                <small>Klaxeur fou: {{ counter.klax }}</small> <br>
                {% if counter.klax == 0 %}
                    <a class="button_take_over" id="btn-href-F-20" href="{% url "buyAllos" allo_type="F" allo_cost=20 %}">
                        Acheter ce allo 20 klaxcoins
                    </a> <br>
                {% endif %}

            {% elif type == 'G' %}
                <small>Cuisine: {{ counter.cuisine }}</small> <br>
                {% if counter.cuisine == 0 %}
                    <a class="button_take_over" id="btn-href-G-20" href="{% url "buyAllos" allo_type="G" allo_cost=20 %}">
                        Acheter ce allo 20 klaxcoins
                    </a> <br>
                {% endif %}

            {% elif type == 'H' %}
                <small>Courses: {{ counter.courses }}</small> <br>
                {% if counter.courses == 0 %}
                    <a class="button_take_over" id="btn-href-H-20" href="{% url "buyAllos" allo_type="H" allo_cost=20 %}">
                        Acheter ce allo 20 klaxcoins
                    </a> <br>
                {% endif %}
            {% endif %}
        {% endfor %}

    {% else %}
        <small>Erreur lors du chargement de vos donnés</small>
    {% endif %}
    <br>
    <div id="my-next-allo">
        <h1>Vos demandes de <span>Allo</span></h1>
    </div>
    {% if allos %}
        {% for allo in allos %}
            <div id="next-event-object">
                <div class="row">
                    <div class="col">
                        <div class="name_date">
                            <h2 style="border-bottom: black 2px solid">{{ allo.allo_id.get_allo_type_display }}</h2>
                        </div>
                        <div>
                            <h4 id="h4_available" style="margin-top: 10px;">Le {{allo.date | date:"d"}} {{allo.date  | date:"F"}} {{allo.date  | date:"o"}} à {{allo.date | date:"H"}}h{{allo.date | date:"i"}}</h4>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 10px; padding-left:0px; padding-right: 0px; width:70%; margin-right: 30px" >
                    {% if allo.take_over %}
                        {% if allo.made %}
                            <p id="statep">Etat: Réalisé</p> 
                        {% else %}
                            <p id="statep">Etat: Pris en charge</p> 
                        {% endif %}
                    {% else %}
                        <p id="statep">Etat: Envoyé</p>
                        <a class="button_make_allo btn btn_event" id="removeAllo{{ allo.id }}" href="{% url "removeAllo" id_allo=allo.id %}">
                            <h5>Annuler la demande</h5>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3 id="end_allo">Vous n'avez demandé aucun <span>Allo</span></h3>
    {% endif %}
{% endif %}
{% endblock %}