@font-face {
    font-family: Corleone;
    src: url('../font/Corleone.TTF');
}

@font-face {
    font-family: Bolf;
    src: url('../font/theboldfont.ttf');
}


body {
    background-color: #666666; /* 666666 ou 0f0f3d*/
    color: white;
}

#choices {
  
}

* {
    cursor:url(https://i.ibb.co/2Whsx1h/klaxicon-5.png), default;
}

#main_title {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 110px;
    margin-top: 20px;
}

#betklax_title {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    text-align: center;
}

#betklax_title h1 {
    text-align: center;
    font-size: 60px;
}

#betklax_title h1 span {
    color: black;
    font-size: 80px;
}

#betklax_title p span {
    color: black;
    font-style: italic;
}

#betklax_title p {
    font-size: 20px;
}

#main_title h1 {
  text-align: center;
  font-size: 90px;
}

#main_col {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    margin-top: 20px;
    margin-bottom: 50px;
}

#main_col .row .col {
    border: 20px solid black;
    padding-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

#main_col .row #left {
    background-color: #0f0f3d;
}

#main_col .row #right {
    background-color: #3d0f0f;
}

#main_col .row .col h2{
    text-align: center;
    font-size: 50px;
}

#main_title h1 span {
    color: red;
}


@media screen and (min-width: 370px) and (max-width: 560px) {
    #main_title h1 {
        text-align: center;
        font-size: 60px;
      }
}

@media screen and (min-width: 100px) and (max-width: 370px) {
    #main_title h1 {
        text-align: center;
        font-size: 40px;
    }

    #main_col .row .col h2{
        font-size: 30px;
    }

    #betklax_title h1 {
        text-align: center;
        font-size: 40px;
    }
    
    #betklax_title h1 span {
        color: black;
        font-size: 50px;
    }
}

h6 {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 28px;
}

.nav {
    width: 100%;
    height: 65px;
    position: relative;
    line-height: 65px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Corleone', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    background-color: #000000;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 1.5rem;
}
.nav div.logo a {
    text-decoration: none;
    color: #FFF;
    font-size: 2rem;
}
.nav div.logo a:hover {
    color: #00E676;
}
.nav div.main_list {
    height: 65px;
    float: right;
}
.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}
.nav div.main_list ul li a {
    text-decoration: none;
    color: #FFF;
    line-height: 65px;
    font-size: 2rem;
}
.nav div.main_list ul li a:hover {
    color: #000;
}
.navTrigger {
  display: none;
}
.nav {
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/* Media qurey section */
@media screen and (min-width: 960px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}
@media screen and (max-width:960px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #000;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}
/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}
.navTrigger i {
    background-color: #FFF;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}
.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}
.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}
.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}
