@font-face {
    font-family: Corleone;
    src: url('../font/Corleone.TTF');
}

@font-face {
    font-family: Bolf;
    src: url('../font/theboldfont.ttf');
}

@font-face {
    font-family: Grooves;
    src: url('../font/Solid\ Grooves.ttf');
}

@font-face {
    font-family: Rockville;
    src: url('../font/Rockville\ Solid.otf');
}


body {
    background-color: #666666; /*; 666666 ou 0f0f3d*/
    color: white;
}

#klaxment_list {
    text-align: center;
}

#klaxment_list span {
    color: rgb(255, 218, 85);
}

#klaxment_list h2 {
    font-size: 50px;
}

#klaxment_list h3 {
    font-size: 40px;
}

#klaxment_list h4 {
    font-size: 30px;
}

* {
    cursor:url(https://i.ibb.co/2Whsx1h/klaxicon-5.png) 25 15, auto;
}

#login {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

#login h1 {
    font-size: 90px;
    margin-top: 20px;
}

#login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#login button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#login a {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#login p {
    font-size: 20px;
}

#login li {
    color: white !important;
}

#login small {
    color: white !important; 
}


#login label {
    color: red;
    font-size: 40px;
}

#main_title {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 110px;
    margin-top: 20px;
}

#liste_off {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    margin-top: 20px;
}

#betklax-pages {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    margin-top: 20px;
}

#betklax-pages h1 {
    font-size: 60px;
    text-align: center;
}

#betklax-pages h2 {
    font-size: 45px;
    text-align: center;
}

#betklax-pages p {
    font-size: 30px;
    text-align: center;
}

#betklax-pages span {
    color: red;
}

#yellow-span {
    color: yellow!important;
}


#next-event {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    margin-top: 20px;
}

#next-event #name {
    display: inline-block;
    margin-top: 20px;
}

#next-event #date {
    display: inline-block;
    margin-top: 20px;
}

#next-event h4 {
    display: inline-block;
}


#betklax_title {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    text-align: center;
}

#betklax_title h1 {
    text-align: center;
    font-size: 60px;
}

#betklax_title h1 span {
    color: black;
    font-size: 80px;
}

#betklax_title p span {
    color: black;
    font-style: italic;
}

#betklax_title p {
    font-size: 20px;
}

#main_page_id h1 {
  text-align: center;
  font-size: 90px;
}

#liste_off h1 {
    text-align: center;
    font-size: 90px;
}

#liste_off h3 {
    text-align: center;
}

#next-event h1 {
    text-align: center;
    font-size: 90px;
}

#main_page_id {
    font-family: 'Grooves', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    background-color: white;
}

#main_col .row .col {
    border: 20px solid black;
    padding-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

#main_col .row #left {
    background-color: #0f0f3d;
}

#main_col .row #right {
    background-color: #3d0f0f;
}

#main_col .row .col h2{
    text-align: center;
    font-size: 50px;
}

#main_col_event {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    margin-top: 20px;
    margin-bottom: 50px;
}

#main_col_event .row .col {
    border: 10px solid black;
    padding-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

#main_col_event .row #left {
    background-color: #522699;
}

#main_col_event .row #right {
    background-color: #a7662a;
}

#main_col_event .row .col h2{
    text-align: center;
    font-size: 30px;
}

#main_title h1 span {
    color: red;
}

#liste_off span {
    color: red;
}

#liste_off .row .col p {
    margin-top: 10px;
    font-size: 30px;
}

#liste_off h2 {
    margin-top: 10px;
    font-size: 50px;
}

#liste_off .row {
    text-align: center;
}

#next-event span {
    color: red;
}

#next-event .row .col p {
    margin-top: 10px;
    font-size: 30px;
}

#next-event h2 {
    margin-top: 10px;
    font-size: 50px;
}

#next-event .row {
    text-align: center;
}

.div-du-bet {    
    text-align: center;
    background-color: black;
    padding: 10px;
    border-radius: 12px;
    justify-content: center;
    margin-bottom: 20px;
}

.div-du-bet h3 {    
    font-size: 25px;
}

.div-du-bet h4 {    
    font-size: 17px;
}

.button_rate {
    display: inline-block;
    background-color: yellow;
    font-family: 'Corleone', Arial, sans-serif;
}

.button_rate #rate {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight: bold;
}

.loadbar {
    width:25px;
    height:90%;
    background-color:#fff;
    border:1px solid #ccc;
    position:relative; 
    margin-bottom: 20px;
}

.bar {
    width:100%;
    display:block;        
    font-family:arial;
    font-size:12px; 
    background-color:green;
    color:#fff;       
    position:absolute;
    bottom:0;        
}


@media screen and (min-width: 370px) and (max-width: 560px) {
    #main_title h1 {
        text-align: center;
        font-size: 60px;
      }

    #liste_off h1 {
        text-align: center;
        font-size: 60px;
    }

    #liste_off h2 {
        margin-top: 10px;
        font-size: 35px;
    }

    #liste_off .row .col p {
        font-size: 25px;
    }

    #liste_off img{
        width: 300px;
        height: 200px;
    }

    #next-event h1 {
        text-align: center;
        font-size: 60px;
    }

    #next-event h2 {
        margin-top: 10px;
        font-size: 35px;
    }

    #next-event .row .col p {
        font-size: 25px;
    }

    #next-event img{
        width: 300px;
        height: 200px;
    }

    #login label {
        font-size: 30px;
    }

    #login h1 {
        font-size: 50px;
    }
}

@media screen and (min-width: 100px) and (max-width: 370px) {
    #main_title h1 {
        text-align: center;
        font-size: 40px;
    }

    #liste_off h1 {
        text-align: center;
        font-size: 40px;
    }

    #main_col .row .col h2{
        font-size: 30px;
    }

    #main_col_event .row .col h2{
        font-size: 20px;
    }

    #betklax_title h1 {
        text-align: center;
        font-size: 40px;
    }
    
    #betklax_title h1 span {
        color: black;
        font-size: 50px;
    }

    #liste_off h2 {
        margin-top: 10px;
        font-size: 30px;
    }

    #liste_off .row .col p {
        font-size: 20px;
    }

    #liste_off img{
        width: 250px;
        height: 166px;
    }

    #login h1 {
        font-size: 30px;
    }

    #login label {
        font-size: 20px;
    }
}

h6 {
    font-family: 'Bolf', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 28px;
}

.nav {
    width: 100%;
    height: 65px;
    position: relative;
    line-height: 65px;
    text-align: center;
    font-family: 'Corleone', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    background-color: #000000;
}

footer {
    width: 100%;
    height: 65px;
    position: relative;
    line-height: 65px;
    font-size: 25px;
    text-align: center;
    font-family: 'Corleone', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    background-color: #000000;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 1.5rem;
}
.nav div.logo a {
    text-decoration: none;
    color: #FFF;
    font-size: 2rem;
}
.nav div.logo a:hover {
    color: #00E676;
}
.nav div.main_list {
    height: 65px;
    float: right;
}
.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}
.nav div.main_list ul li a {
    text-decoration: none;
    color: #FFF;
    line-height: 65px;
    font-size: 2rem;
}
.nav div.main_list ul li a:hover {
    color: #000;
}
.navTrigger {
  display: none;
}
.nav {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/* Media qurey section */
@media screen and (min-width: 960px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}
@media screen and (max-width:1400px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #000;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}
/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}
.navTrigger i {
    background-color: #FFF;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}
.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}
.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}
.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

#liste_id_main {
    background-color: lightblue!important;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    font-family: 'Rockville', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

#pub_id_main {
    background-color: rgb(98,34,35);
    width: 225px!important;
    height: 750px!important;
}

#pub_id_main h1 {
    font-size: 70px;
}

#event_id_main {
    background-color: white;
    color:black;
    padding-top: 30px;
    text-align: center;
}

#event_id_main h1 {
    vertical-align: middle;
}

#gif_gros_klax_id {
    margin: 0!important;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#klaxment_id {
    background-color: rgb(247, 226, 226);
    width: 100%;
    height: 100%;
    margin: 0;
    color: black;
}

#klaxment_id h1 {
    text-align: center;
}

#pub_id_klaxment {
    background-color: rgb(98,34,35);
    width: 225px!important;
    height: 750px!important;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    font-size: 2rem;
    height: 65px;
    position: relative;
    border: none;
    cursor: pointer;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

@media screen and (max-width:1400px) {
    .dropdown-content {
        display: none;
        position: relative;
        background-color: black;
    }
    
    .dropbtn {
        font-size: 3rem;
    }
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}