{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
{% if user.is_staff %}
    <div class="container">
      <h1 style="text-align: center; margin-top:20px">Ajout d'un nouveau pari</h1>
        <form class="form" action="" method="POST">
          {% csrf_token %}
          {% bootstrap_form betform %}

          {% buttons %}
              <button class="btn btn--main btn btn-primary" type="submit">
                Ajouter le pari
              </button>
          {% endbuttons %}
        </form>
    </div>
    <h1 style="text-align: center; margin-top:20px">Paris en cours</h1>
    <div class="container">
        {% for bet in bets %}
            <small>{{ bet.bet_name }}: fini le {{bet.ended | date:"d"}} {{bet.ended  | date:"F"}} {{bet.ended  | date:"o"}} à {{bet.ended | date:"H"}}h{{bet.ended | date:"i"}} <br></small>
            {% if bet.visible %}
                <small>Ce bet est visible pour tous le monde</small>
            {% else %}
                <small>Ce bet n'est pas visible pour tous le monde</small> <br>
                <a class="row btn" style="background-color: #522699" href="{% url "setVisibleBet" id_bet=bet.id %}" value="setVisibleBet{{ bet.id }}">
                    Mettre en ligne le pari
                </a>
            {% endif %}
            <br> <br>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

