{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
<div class="container-fluid" id="betklax-pages">
    <h2>Ton pocheton de klaxcoins</h2>
      {% if user.klax_coins > 0 %}
          <div>
              <p><span>Ton solde de Klaxcoins : </span>{{ user.klax_coins }} <img class="img-fluid" height="75" width="75" src="{% static 'klax_or.png' %}" alt=""/></p>
          </div>
      {% else %}
          <div>
              <p><span>Time to soudoyer</span> car là tu n'as aucun <img class="img-fluid" height="75" width="75" src="{% static 'klax_or.png' %}" alt=""/> à parier</p>
          </div>
      {% endif %}
</div>

<div class="container-fluid" id="betklax-pages">
    <h1 style="text-align: center; margin-top:20px">Tous les paris</h1>
    {% for bet in bets %}
        {% if bet.visible %}
            <div class="div-du-bet">
                <h3>{{ bet.bet_name }}</h3>
                <h4>Fini le {{bet.ended | date:"d"}} {{bet.ended  | date:"F"}} {{bet.ended  | date:"o"}} à {{bet.ended | date:"H"}}h{{bet.ended | date:"i"}}</h4>
                {% if request.user.is_authenticated %}
                    <a class="button_rate" href="{% url "makeBetW" bet.id %}" value="makeBetW{{ bet.id }}">
                        <p id="label">{{ bet.win_name }}</p>
                        <p id="rate">{{ bet.win_rate }}</p>
                    </a>
                    <a class="button_rate" href="{% url "makeBetL" bet.id %}" value="makeBetL{{ bet.id }}">
                        <p id="label">{{ bet.lose_name }}</p>
                        <p id="rate">{{ bet.lose_rate }}</p>
                    </a>
                {% else %}
                    <div class="button_rate">
                        <p id="label">{{ bet.win_name }}</p>
                        <p id="rate">{{ bet.win_rate }}</p>
                    </div>
                    <div class="button_rate">
                        <p id="label">{{ bet.lose_name }}</p>
                        <p id="rate">{{ bet.lose_rate }}</p>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}