{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
{% if user %}
    <div class="container-fluid" id="wallet">
        <h1>Ton pocheton de <span>Klaxcoins</span></h1>
          {% if user.klax_coins > 0 %}
              <div>
                  <p><span>Ton solde : </span>{{ user.klax_coins }} <img class="img-fluid" height="75" width="75" src="{% static 'klax_or.png' %}" alt=""/></p>
                  <p style="font-size: 28px;"><span>Ton identifiant Mafienssat : </span> {{user.id}} </p>
              </div>
          {% else %}
              <div>
                  <p><span>Time to soudoyer</span> car là tu n'as aucun <img class="img-fluid" height="75" width="75" src="{% static 'klax_or.png' %}" alt=""/> à parier</p>
              </div>
          {% endif %}
    </div>
{% endif %}

<div class="container-fluid" id="betklax-pages">
    <h1 style="text-align: center; margin-top:20px">Tous les <span>paris</span></h1>
    {% for bet in bets %}
        {% if bet.visible %}
            <div class="div-du-bet">
                <h3>{{ bet.bet_name }}</h3>
                {% if bet.closed_bet %}
                    <h4 style="color: #e62e00; font-weight: bold">Fermé</h4>
                {% endif %}
                <h5>Fini le {{bet.ended | date:"d"}} {{bet.ended  | date:"F"}} {{bet.ended  | date:"o"}} à {{bet.ended | date:"H"}}h{{bet.ended | date:"i"}}</h5>
                {% if request.user.is_authenticated and not bet.closed_bet and not bet.result %}
                    <a class="button_rate" href="{% url "makeBetW" bet.id %}" id="makeBetW{{ bet.id }}">
                        <p id="label">{{ bet.win_name }}</p>
                        <p id="rate">{{ bet.win_rate }}</p>
                    </a>
                    <a class="button_rate" href="{% url "makeBetL" bet.id %}" id="makeBetL{{ bet.id }}">
                        <p id="label">{{ bet.lose_name }}</p>
                        <p id="rate">{{ bet.lose_rate }}</p>
                    </a>
                {% elif bet.result %}
                    {% if bet.result == 'W' %}
                        <div class="button_rate">
                            <p id="label">Résultat :</p>
                            <p id="label">{{ bet.win_name }}</p>
                            <p id="rate">{{ bet.win_rate }}</p>
                        </div>
                    {% else %}
                        <div class="button_rate">
                            <p id="label">Résultat :</p>
                            <p id="label">{{ bet.lose_name }}</p>
                            <p id="rate">{{ bet.lose_rate }}</p>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="button_rate">
                        <p id="label">{{ bet.win_name }}</p>
                        <p id="rate">{{ bet.win_rate }}</p>
                    </div>
                    <div class="button_rate">
                        <p id="label">{{ bet.lose_name }}</p>
                        <p id="rate">{{ bet.lose_rate }}</p>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>
<script>
    $(document).ready(function(){
        document.body.innerHTML = document.body.innerHTML.replaceAll("March", "Mars");
        document.body.innerHTML = document.body.innerHTML.replaceAll("April", "Avril");
    })
</script>

{% endblock %}