{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}

<div class="container">
    <div id="main_title">
        <h1>Bienvenue dans l'espace <span>BetKlax</span>.</h1>
    </div>
</div>

<div class="container">
    <p> TODO Ajouter les explications ainsi que les règles</p>
</div>

<div class="container-fluid" id="choices">
    <div id="main_col">
        <div class="row"> <!-- Todo Faire ensorte de ne plus voir le lien hypertext -->
            <a class="col" id="left" href="{% url "betKlax" %}">
                <h2>Les paris en cours</h2>
            </a>
            {% if user %}
                <a class="col" id="right" href="{% url "myBets" %}">
                    <h2>Vos paris enregistrés</h2>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}