{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
{% if user %}
    <div class="container-fluid" id="betklax-pages">
        <h2>Ton pocheton de klaxcoins</h2>
          {% if user.klax_coins > 0 %}
              <div>
                  <p><span>Ton solde de Klaxcoins : </span> {{ user.klax_coins }} <span id="yellow-span">klaxcoins</span></p>
              </div>
          {% else %}
              <div>
                <p><span>Time to soudoyer</span> car là tu n'as aucun <span id="yellow-span">klaxcoin</span> à parier (tema la bete de phrase)</p>
              </div>
          {% endif %}
    </div>
    <div class="container-fluid" id="betklax-pages">
        <h1 style="text-align: center; margin-top:20px">Tous vos paris</h1>
        {% if mybets %}
            {%  for bet in mybets %}
            <div class="div-du-bet">
                <h3>{{ bet.bet_id.bet_name }}</h3>
                <h4>Fini le {{bet.bet_id.ended | date:"d"}} {{bet.bet_id.ended  | date:"F"}} {{bet.bet_id.ended  | date:"o"}} à {{bet.bet_id.ended | date:"H"}}h{{bet.bet_id.ended | date:"i"}}</h4>
                <h4>Montant parié : {{ bet.gains }} Klaxcoins</h4>
                {% if bet.result == 'W' %}
                        <h4>Sur la côte {{ bet.bet_id.win_name }} : {{ bet.bet_id.win_rate }} </h4>
                {% else %}
                        <h4>Sur la côte {{ bet.bet_id.lose_name }} : {{ bet.bet_id.lose_rate }} </h4>
                {% endif %}
                <label for="mise"></label><input placeholder="15" type="number" id="mise{{ bet.bet_id.id }}">
                <br>
                <a class="btn btn--main" id="btn-href-{{ bet.bet_id.id }}" href="{% url "addGains" id_bet=bet.bet_id.id gains=0 %}" onclick="addGains(this.id)" style="color:black; background-color: yellow; margin-bottom:10px; margin-top: 5px">
                    Ajouter des Klaxcoins sur le pari
                </a>
                <br>
                {% if bet.result == 'W' %}
                    <a class="btn btn--main" style="background-color:red; color:white" href="{% url "finalizeBet" id_bet=bet.bet_id.id %}" id="finalizeBet{{ bet.bet_id.id }}">
                        Bloquer la cote à {{ bet.bet_id.win_rate }}
                    </a>
                {% else %}
                    <a class="btn btn--main" style="background-color:red; color:white" href="{% url "finalizeBet" id_bet=bet.bet_id.id %}" id="finalizeBet{{ bet.bet_id.id }}">
                        Bloquer la cote à {{ bet.bet_id.lose_rate }}
                    </a>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <h3 style="text-align: center;">Vous n'avez misé sur aucun pari</h3>
        {% endif %}
        <h1 style="text-align: center; margin-top:20px"> Vos paris bloqués </h1>
        <div class="container">
            {% for bet in finalizedBets %}
            <div class="div-du-bet">
                <h3>{{ bet.bet_id.bet_name }}</h3>
                <h4>Fini le {{bet.bet_id.ended | date:"d"}} {{bet.bet_id.ended  | date:"F"}} {{bet.bet_id.ended  | date:"o"}} à {{bet.bet_id.ended | date:"H"}}h{{bet.bet_id.ended | date:"i"}}</h4>
                <h4>Mise pariée : {{ bet.gains }} Klaxcoins</h4>
                {% if bet.result == 'W' %}
                        <h4>Sur la côte gagnante : {{ bet.bet_id.win_rate }} </h4>
                {% else %}
                        <h4>Sur la côte perdante : {{ bet.bet_id.lose_rate }} </h4>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<script>
    function addGains(id){

        let right_id = id.split("-")[2]
        let gains = document.getElementById("mise" + right_id).value;
        let hrefGain = document.getElementById("btn-href-" + right_id).href;

        document.getElementById("btn-href-" + right_id).href = hrefGain.replace("%200", "%20" + gains)
    }
</script>
{% endblock %}