{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
{% if user.is_superuser %}
    <div class="container">
        <h1 style="text-align: center; margin-top:20px">Tous les paris</h1>
        {% for bet in bets %}
            <small>{{ bet.bet_name }}: fini le {{bet.ended | date:"d"}} {{bet.ended  | date:"F"}} {{bet.ended  | date:"o"}} à {{bet.ended | date:"H"}}h{{bet.ended | date:"i"}}</small> <br>
            {% if not bet.closed_bet %}
                <a class="row btn" style="background-color: #522699" href="{% url "closeBet" id_bet=bet.id %}" id="closeBet{{ bet.id }}">
                    Fermer le bet
                </a> <br>

            {% else %}
                {% if bet.result %}
                    {% if bet.result == "W" %}
                        <small>{{ bet.win_name }} ({{ bet.win_rate }})</small> <br>
                    {% else %}
                        <small>{{ bet.lose_name }} ({{ bet.lose_rate }})</small> <br>
                    {% endif %}
                {% else %}
                    <small>Résultat du bet</small> <br>
                    <a class="col btn" style="background-color: #522699" href="{% url "sendBetsKalxcoins" id_bet=bet.id result_bet='W' %}" id="sendBetsKalxcoins{{ bet.id }}">
                        {{ bet.win_name }} ({{ bet.win_rate }})
                    </a>
                    <a class="col btn" style="background-color: #522699" href="{% url "sendBetsKalxcoins" id_bet=bet.id result_bet='L' %}" id="sendBetsKalxcoins{{ bet.id }}">
                        {{ bet.lose_name }} ({{ bet.lose_rate }})
                    </a>
                {% endif %}
            {% endif %}
            <br>

            <a class="col btn" style="background-color: #522699" href="{% url "deleteBet" id_bet=bet.id %}" id="deleteBet{{ bet.id }}">
                Supprimer le bet
            </a>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
