{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
{% if event and infos %}
    {% regroup infos by index as index_list %}
    <div id="event_presentation">
        <h1>{{ event }}</h1>

        {% for index in index_list %}
            {% for info in index.list %}
                <div id="{{ info.infoClass }}" value="{{ info.index }}">
                    {{ info.info }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
{% include 'footer.html' %}
{% endblock %}