{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container-fluid" id="event_page_id">
    <img class="logo_loco" width="350px" height="350px" src="{% static 'img/logodeloco.png' %}">
    <div id="next-event">
        <h1>Prochains <span>événements</span></h1>
    </div>
    {% for event in events %}
        {% if event.visible %}
            <div id="next-event-object">
                <div class="row">
                    <div class="col">
                        <div class="name_date">
                            <h2 id="name">{{event.event_name}}</h2>
                            <h3 id="date">{{event.event_date | date:"d"}} {{event.event_date | date:"F"}} {{event.event_date | date:"o"}} à partir de {{event.event_date | date:"H"}}h{{event.event_date | date:"i"}}</h3>
                        </div>
                        <div>
                            {% if event.max_attendees != 0 %}
                                <h4 id="h4_available">places disponibles : {{event.attendees_number}}/{{event.max_attendees}}</h4>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col button_event">
                        {% if user %}
                            {% if event.attendees_number < event.max_attendees and event.max_attendees != 0 %}
                                <a class="col btn btn_event" href="{% url "eventRegistration" event_id=event.id %}" value="goEvent{{ event.id }}">
                                    <h5>Participer</h5>
                                </a>
                            {% endif %}
                            {% if event.associated_bet %}
                                <a class="col btn btn_event" href="{% url "homeBetKlax" %}" value="goBet{{ event.id }}">
                                    <h5>Parier</h5>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            
                <div id="description_event">
                    <p>{{event.event_description}}</p>
                </div>

            </div>
        {% endif %}
    {% endfor %}

{% if user %}
    {% if registered %}
        <h1 id="light-h1-event"><span>Événements</span> déjà enregistrés</h1>
        {% for event in registered %}
            <div id="next-event-object">
                <div class="row">
                    <div class="col">
                        <div class="name_date">
                            <h2 id="name">{{event.event_name}}</h2>
                            <h3 id="date">{{event.event_date | date:"d"}} {{event.event_date | date:"F"}} {{event.event_date | date:"o"}} à partir de {{event.event_date | date:"H"}}h{{event.event_date | date:"i"}}</h3>
                        </div>
                        <div>
                            {% if event.max_attendees != 0 %}
                                <h4 id="h4_available">places disponibles : {{event.attendees_number}}/{{event.max_attendees}}</h4>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col button_event">
                        {% if user %}
                            {% if event.attendees_number < event.max_attendees and event.max_attendees != 0 %}
                                <a class="col btn btn_event" value="dontGoEvent{{ event.id }}" href="{% url "eventUnregistration" event_id=event.id %}">
                                    <h5>Ne plus participer</h5>
                                </a>
                            {% endif %}
                            {% if event.associated_bet %}
                                <a class="col btn btn_event" href="{% url "homeBetKlax" %}" value="goBet{{ event.id }}">
                                    <h5>Parier</h5>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            
                <div id="description_event">
                    <p>{{event.event_description}}</p>
                </div>
                <div style="margin-bottom: 30px;">

                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1 class="no_event_registered">Aucun <span>événement</span> enregistré</h1>
    {% endif %}
    <div id="vote_mafienssat_event">
        <p style="text-align:center; margin:0; color:black">Votez Mafienssat !</p>
    </div>
{% endif %}
<script>
    $(document).ready(function(){
        document.body.inner;HTML = document.body.innerHTML.replace('March', 'mars');
        const height = document.querySelector('#event_page_id').offsetHeight;
        if(height < 800){
            document.getElementById("vote_mafienssat_event").style.padding = "400px 0 0 0";
            console.log(document.getElementById("event_page_id").style.height);
        }
    });
    
</script>
</div
{% endblock %}