{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
{% if event and infos %}
    {% regroup infos by index as index_list %}
    <h1 style="text-align: center; margin-top:20px"> {{ event }}</h1>
    <div class="{{ event }}">
        {% for index in index_list %}
            {% for info in index.list %}
                <div class="{{ index.class }}" id="{{ info.index }}">
                    {{ info.info }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
<script>

</script>
{% endblock %}