{% extends 'main.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'nav.html' %}
{% if user %}
    <div class="container">
      <h1 style="text-align: center; margin-top:20px">Ajout d'un nouvel événement</h1>
        <form class="form" action="" method="POST">
          {% csrf_token %}
          {% bootstrap_form eventform %}

          {% buttons %}
          <button class="btn btn--main btn btn-primary" type="submit">
            Ajouter l'événement
          </button>
          {% endbuttons %}
        </form>
    </div>
    <h1 style="text-align: center; margin-top:20px">Événements en cours</h1>
    <div class="container">
        {% for event in events %}
            <small>{{ event.event_name }}: fini le {{ event.event_date }} <br></small>
            {% if event.visible %}
                <small>Cet event est visible pour tout le monde</small>
            {% else %}
                <small>Ce allo n'est pas visible pour tout le monde</small> <br>
                <a class="row btn" style="background-color: #522699" href="{% url "setVisibleEvent" id_event=event.id %}" value="setVisibleEvent{{ event.id }}">
                    Mettre en ligne l'event
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

